[2016-10-31 17:56] theodorDiaconu opened #1 "Clear Fields Function"
Given an object and an array of fields. Return a filtered object containing only those fields MongoDB like.
Treat cases for fields like "profile.firstName" and deep nesting.

[2016-10-31 17:58] theodorDiaconu opened #2 "Collection Cacher"
Create an object that accepts an array of documents and an observer.
Create a method that accepts a new array of documents. Creates a performant diff, updates its cache and creates an optimal queue for dispatching events to observer. (this.added, this.changed, this.removed)
When calling flush() all those events will be triggered one by one.

[2016-10-31 17:59] theodorDiaconu opened #3 "Implement namespace reactivity, and ability to disable reactivity"
I want to fine-tune or even disable reactivity for my db updates:

[code]

{ pushToRedis: false } // will disable reactivity

[2016-10-31 17:59] theodorDiaconu opened #4 "Implement direct channels reactivity"
Direct channels are for publications that subscribe to an _id or multiple _ids, with optional filters, but without limit.

They will only listen to changes done on those _id or _ids, without having to process additional stuff.

[2016-10-31 17:59] theodorDiaconu opened #5 "Same Subscription Cacher"
Given 100 users on a meteor instance that view your blog page with 15 blogs per page. You don't want 100 collection stores in memory.

Plan:
Create an md5 hash of name + filters and options.

ActivePublicationStore[md5Hash] = CollectionCacher

Whenever we publish, we simply .addObserver to the CollectionCacher.
When we remove the publish onStop, we kill the ActivePublicationStore if there are no o

[2016-10-31 18:00] theodorDiaconu opened #6 "Publish Composite replacement with redis oplog observer"
1. Create an observerCollection for the main element
2. On added/changed/remove recompute the subsequent publications of the next elements in order to update them

Offer ability to an ObservableCollection to "modifyCursor" & reprocess the query. Make performant diffing.

[2016-11-01 07:31] theodorDiaconu commented on #2
The collection would store documents in the following format:
[code]

[code]

[code]

All processes on the observer should be done in a queue, to avoid collision.

Resources:
https://developer.mozilla.org/en/docs/Web/JavaScript/EventLoop
https://www.npmjs.com/package/queue

[2016-11-01 13:36] theodorDiaconu opened #7 "Override Mongo.Collection.prototype"
Modify the prototype so:
[code]

[2016-11-02 09:34] #7 closed

[2016-11-02 09:34] theodorDiaconu commented on #4
done

[2016-11-02 09:34] #4 closed

[2016-11-02 09:34] theodorDiaconu commented on #2
done, but differently, will need to check later for queue

[2016-11-02 09:34] #2 closed

[2016-11-02 09:34] theodorDiaconu commented on #1
done, by implementing SmartObject

[2016-11-02 09:34] #1 closed

[2016-11-02 09:54] theodorDiaconu opened #8 "Store client image on server only for ids"
Need to think about it. It may impact subscription caching ? Need to see what's cheaper cpu-wise.

[2016-11-02 13:17] theodorDiaconu opened #9 "Concurrent Updates"
Make sure all updates are run in the order they were subscribed. Queue ? Redis Queue ?

https://github.com/meteor/meteor/blob/devel/packages/mongo/observe_multiplex.js#L31

https://github.com/meteor/meteor/blob/devel/packages/mongo/oplog_observe_driver.js

[2016-11-02 14:24] theodorDiaconu opened #10 "Abstract MongoDB driver to enable All DB Reactivity"
Must think.

[2016-11-02 14:24] theodorDiaconu opened #11 "If redis server gets down for a reason, fallback on polling."
https://github.com/meteor/meteor/blob/devel/packages/mongo/oplog_observe_driver.js

https://github.com/meteor/meteor/blob/devel/packages/mongo/oplog_observe_driver.js#L772

[2016-11-02 14:25] theodorDiaconu opened #12 "Create a docker container with Redis + MongoDB + Meteor"

[2016-11-02 14:25] theodorDiaconu opened #13 "Find a way to put "pm2" to work with this approach."

[2016-11-02 14:27] theodorDiaconu opened #14 "Make it work for array of cursors"

[2016-11-02 14:27] #3 closed

[2016-11-02 14:27] theodorDiaconu opened #15 "Ability to disable reactivity"
Collection.insert(data, { pushToRedis: false })

[2016-11-03 03:50] theodorDiaconu commented on #15
done

[2016-11-03 03:50] #15 closed

[2016-11-03 06:45] theodorDiaconu commented on #14
done

[2016-11-03 06:45] #14 closed

[2016-11-03 06:45] theodorDiaconu commented on #9
done using Meteor._SynchronousQueue

[2016-11-03 06:45] #9 closed

[2016-11-03 11:32] theodorDiaconu commented on #8
By keeping the cache state, we allow less data push to the client, because we can perform a diff with the exact changes that he needs. We'll close for now, maybe give ability to fine-tune this in future.

[2016-11-03 11:32] #8 closed

[2016-11-03 11:57] theodorDiaconu commented on #5
done

[2016-11-03 11:57] #5 closed

[2016-11-03 11:59] theodorDiaconu opened #17 "Write tests for all possible usecases"
1. Dedicated (insert/update/remove)
2. Limit + Sort (insert/update/remove)
3. Default (insert/update/remove)
4. Channeled
	1 Namespace
	2 Channels

[2016-11-03 13:59] theodorDiaconu commented on #6
PubNode
      parent
      find
      children
      eventEmitter
      observableCollection

[2016-11-03 14:00] theodorDiaconu commented on #13
it's not related, dropping this.

[2016-11-03 14:00] #13 closed

[2016-11-03 17:57] theodorDiaconu opened #18 "Abstract the DB layer to allow reactivity with any type of Database/REST-API"

[2016-11-04 04:43] theodorDiaconu opened #19 "Critical - Cache subscribers listening to the same channels."
Given 10 users, that subscribe to users in different manners.
We would have 10 redis listeners, and for each modification on users, we would get that modification 10 times, then we need to parse it 10 times.  Parsing may be heavy since we use EJSON to serialize/deserialize messages pushed to redis. And also, we will have 9 unecessary redis subscriptions, which occupy network bandwidth and CPU.

Cr

[2016-11-04 07:06] theodorDiaconu opened #20 "Large scale improvement for load-mores|limit|skips"
Given a page with "Posts" and when you scroll down, they load more to infinity.. We need to treat this somehow.

1. Idea of caching client-side
2. Idea of caching server-side and sharing with other publications.

Think!

Maybe both should be done (?) Depending on use-case.

[2016-11-04 07:21] theodorDiaconu opened #21 "Sharing query processors across a fleet."
UPI: unique publication identifier
Processor = Query Watcher

http://redis.io/topics/notifications
http://redis.io/commands/watch

This may be good very super-large scale.

Idea:
We want as few query processors as possible, this is why if we have a fleet of 100 servers and a webshop, if an instance is processing a given query, I want that instance to publish to redis to a custom channel the change

[2016-11-04 10:06] sebakerckhof commented on #19
Also, remember the same message can be send over multiple channels, right?
So, depending on the use case and how heavy parsing the message actually is, it might make sense to give each message a unique ID and keep a small LIFO cache with parsed messages, with a look-up table/hash for the unique ID. So if you have a collection `myCollection` and an object `{_id:'foo',prop:value} which you send over

[2016-11-04 11:11] theodorDiaconu commented on #19
Assuming the redis cacher is done, and we don't usually send the message to more than 2-3 channels. When you work with 'channel' or 'namespace' it won't push it to the main collection channel. You could do that by doing:

// on an update/remove for example:
channels: ['customChannel', 'collectionName']
//  will push to 3 channels
'customChannel', 'collectionName', 'collectionName::id'

Problem is,

[2016-11-04 13:50] theodorDiaconu commented on #19
done.

[2016-11-04 13:50] #19 closed

[2016-11-05 07:29] theodorDiaconu commented on #10
duplicate

[2016-11-05 07:29] #10 closed

[2016-11-06 16:02] theodorDiaconu opened #23 "Keep-alive subscription"
For db-heavy subscriptions, sometimes it's better to use more ram.

When publishing allow specifying a keep alive, which will close the subscription after X miliseconds after all observers left.

[2016-11-08 08:29] theodorDiaconu opened #25 "Virtual Mutations"
You have chat, someone is typing... you don't actually want to save that, it can kill the db, but you can emulate it as if it was written in db, by sending a message to redis.

Think about this. It can be crucial to interactive apps, games, chats, etc.

[2016-11-09 07:08] theodorDiaconu commented on #25
[code]

[2016-11-09 08:30] #25 closed

[2016-11-09 13:25] ElegantSudo commented on #25
This is a great idea. So basically Redis will publish this as data, even though it's not actually stored in Mongo?

[2016-11-09 13:51] theodorDiaconu commented on #25
You are correct!

[2016-11-09 15:14] ElegantSudo opened #27 "Expiration date for oplog data"
We don't want to clutter our database with lots of oplog data that remains in our history forever, thus costing us money for storage and slowing other queries down.

It's not a priority right now, but it would be great if we could add an expiration to oplog data (i.e. 24 hours, a week, or a month)

[2016-11-09 15:43] LoriKarikari opened #28 "RedisOplog not initialized"
Hi,

I've followed the usage instructions but publishWithRedis throws an error saying "RedisOplog is not initialized".
I've created a redis.js file at /imports/startup/server/redis.js and also tried to add the code directly into the main.js file of the core server folder. I'm using Meteor 1.4.2.1.

[2016-11-09 15:47] theodorDiaconu commented on #28
Did you put this code anywhere ? It needs to be initialized, until then it's dormant, it won't affect your app.

[code]

[2016-11-09 15:48] theodorDiaconu commented on #27
I don't understand your concern. Please elaborate @ElegantSudo

[2016-11-09 15:49] LoriKarikari commented on #28
Yes I followed the instructions provided.

``
import { RedisOplog } from 'meteor/cultofcoders:redis-oplog';

RedisOplog.init({
  redis: {
    port: 6379,
    host: '127.0.0.1',
  },
  debug: false,
  overridePublishFunction: false,
});

[2016-11-09 15:52] ElegantSudo commented on #28
@LoriKarikari Make sure you're actually importing that file before you're dealing with any operations, functions, or methods exposed by the redis-oplog package. It needs to come first.

[2016-11-09 15:54] LoriKarikari commented on #28
Yes also doing that I imported the file in /imports/startup/server/index.js.
This is a working app so the structures and imports are working.

[2016-11-09 15:56] ElegantSudo commented on #27
@theodorDiaconu Found this! http://www.redis.io/commands/expire We should have an expiration timeout for our data in redis.

For example, after a month a key would be deleted because it's no longer needed for reactivity.

[2016-11-09 15:57] ElegantSudo commented on #28
@LoriKarikari could you provide us with an example?

[2016-11-09 16:06] LoriKarikari commented on #28
/imports/startup/server/index.js content:

`import './redis';
import './fixtures';
import './cron-jobs';
import './api';`

the api import are my methods and publications.

``
Meteor.publishWithRedis('most.active.channel', function () {
  return MostActiveChannels.find({},{sort: {messages: -1}, limit: 1});
});

That's it nothing more.

[2016-11-09 19:42] theodorDiaconu commented on #27
@ElegantSudo we don't store data at all in Redis, we plan on doing something like that for #21 , but for now it's just using it's pub/sub system

[2016-11-10 03:11] theodorDiaconu commented on #28
@LoriKarikari I created a new project, added redis-oplog, did as you did, worked for me, tests wouldn't have passed if this wasn't working. Pls provide a reproduction repository for this.

[2016-11-10 03:11] #27 closed

[2016-11-11 05:25] #28 closed

[2016-11-12 00:47] s-devaney commented on #6
+1 I have a highly relational data set, I will struggle to use this without composite publishing

[2016-11-14 08:09] theodorDiaconu opened #30 "Publish Composite Implementation"
Plan:

- [ ] Create a reader from publishComposite {find, children} to create a Graph with PubNode that has the following properties:
- root (null if top parent)
- children
- selector
- recomputeSelector()
- getKey() - creates a unique identifier for this publication.

- [ ] Implement a waterfall strategy, in which if an element is updated within an observable collection, recompute the selector on

[2016-11-14 08:10] theodorDiaconu commented on #6
closing this for https://github.com/cult-of-coders/redis-oplog/issues/30

[2016-11-14 08:10] #6 closed

[2016-11-14 10:25] theodorDiaconu opened #31 "Give the ability to rely on polling when using publish"
Because it can override the Meteor.publish, it will not work with polling. Implement an option to allow it to go to the default polling behavior.

[2016-11-14 19:24] theodorDiaconu opened #33 "Avoid requery if another one is scheduled."
Requery is the heaviest way of diffing a query. If we have 1 insert and 1 update. We may need to do requery 2 times. If a requery is scheduled to run. Don't schedule another one

[2016-11-15 07:41] #30 closed

[2016-11-15 07:41] #31 closed

[2016-11-15 10:52] maxnowack opened #34 "Some errors after implementation"
I've implemented redis-oplog and I'm seeing some errors in my console.

[code]

For the first two I have no idea where they come from. The last one may have something todo with a publish function, that returns `this.ready()` instead of a cursor.

[2016-11-15 14:56] theodorDiaconu commented on #34
Last 2 fixed. Tell me the query you make for the first one. "statusSince" @maxnowack

[2016-11-15 15:00] theodorDiaconu commented on #34
Nvm I get it, you make an update with a positional selector. Will fix soon.

[2016-11-15 15:03] maxnowack commented on #34
Sure. It seems to be this one:
[code]
It sets the `statusSince` field for a specific user in a document specific team.
See [positional operators in mongodb](https://docs.mongodb.com/v3.2/reference/operator/update/positional/)

[2016-11-15 15:08] theodorDiaconu commented on #34
@maxnowack yep, on it right now! I'll push the fixes soon.

[2016-11-15 15:38] theodorDiaconu commented on #34
@maxnowack published 1.0.4 pls update and check. thanks again for reporting this.

[2016-11-15 17:52] #34 closed

[2016-11-15 20:51] gaurav- opened #35 "Any dependencies that are not available in Meteor 1.2.1?"
Hi @theodorDiaconu,

Great idea that I'm keen to try out! But unfortunately we are stuck with Meteor 1.2.1 for various reasons, and this package [seems to support only the latest version](https://github.com/cult-of-coders/redis-oplog/blob/master/package.js#L20)?

Is there any specific dependency that's available only with Meteor 1.4.x? If there's a possibility to support earlier versions, then I h

[2016-11-16 04:38] ElegantSudo commented on #35
NPM integration is a key reason why this package works so well. I think that's why it's a `v1.4.x` thing. It'd generally be a hassle and more bloat if it were backwards compatible.

That'd also end up taking away from performance optimizations and the key purpose of this package.

If you're willing to develop it, by all means do it. I think @theodorDiaconu has got his hands full with more pressing

[2016-11-16 05:18] theodorDiaconu commented on #35
@ElegantSudo true, we use npm integration, but that is supported since 1.3.x, so we can lower the required version a bit.

@gaurav- please tell me what stops you from updating ? I updated 1.2 apps to 1.4.2 without any change.

[2016-11-16 05:47] theodorDiaconu opened #36 "Concurrency Testing For Remove right after an Insert."
In the tests sometimes remove wasn't showing up, the logs looked good, maybe dispatchjs:phantom somehow closes the connection (?), I really am clueless. Investigate what was going on.

[2016-11-16 15:32] gaurav- commented on #35
We started with Meteor + React, when Meteor 1.2 just released. Since it didn't have support for NPM nor ES2015 modules, we started using it with Webpack – we first build our code with Webpack,and the resultant bundle is passed to the Meteor build.

This has served us well. But when we tried upgrading to Meteor 1.3, we realized that there are many subtle differences in the ES2015 module loader impl

[2016-11-16 19:30] theodorDiaconu commented on #35
@gaurav- nice, you had a good feel for the future way back. However right now we depend on "dburles:mongo-collection-instances@0.3.5" but this dependency can be removed I guess. Then we need "EJSON" and "Mongo" meteor's packages. Is there a way to write npm packages that can use some pseudo-globals for Meteor ? How would we run tests for that package ?

But why do you think it would require you a

[2016-11-16 20:54] simonbelanger opened #37 "Initialize RedisOplog automatically if settings for it are configured."
Not exactly an issue, but any call to Meteor.publishWithRedis() before the call to RedisOplog.init() will make the application crash.

Kinda obvious when you know it but might worth mentioning it the doc.

Or even add the possibility to put the init parameters directly in the app settings file and initialize everything automatically.

Awesome package BTW, real game changer IMO.

[2016-11-16 21:37] theodorDiaconu commented on #37
@simonbelanger good idea with settings! will do

[2016-11-16 22:04] simonbelanger opened #38 "Client-side updates are not pushed to Redis."
Calls to insert, update and remove methods on client-side collections doesn't seem to be published reactively...

As good practise, we've been wrapping the calls to client-side collection methods in Meteor methods for some time now. I guess (still not tested it) in those cases everything would work fine because the collection method would eventually be called during the server-side execution of th

[2016-11-17 06:07] theodorDiaconu commented on #38
@simonbelanger I'll have to see why it behaves differently I always thought doing a Collection.insert() is actually a method call and server-side it does the actual insert. Will dig deeper. I want it to be as BC as possible

[2016-11-18 03:22] hexsprite commented on #12
it would be better if you use docker compose and have separate containers for each one

[2016-11-18 12:50] trackchris opened #39 "Client collection field incorrect after $pull operation in server method"
Say we have a very basic publication:

[code]

The client subscribes to it:

`Meteor.subscribe('tasks');`

We perform an insert into a collection within a server method (in imports/server/ so not run on the client at all):

`Tasks.insert({ testField: ['A', 'B', 'C', 'D'] });`

We look at the collection on the client and the testField contains ['A', 'B', 'C', 'D'] which is exactly as expected.

The

[2016-11-18 12:53] trackchris commented on #39
Just to confirm I'm using v1.0.5 of the package.

[2016-11-18 13:26] #39 closed

[2016-11-18 16:31] theodorDiaconu commented on #38
@maxnowack this is a very strange behavior, are you talking about methods that are defined on server-side and clients as well ? Can you give me an example of the update ? Did you properly initialized RedisOplog, can you initialize it with debug: true and show me some logs ? Cheers.

[2016-11-18 16:31] theodorDiaconu commented on #38
@simonbelanger @maxnowack follow-up, what packages do you have ? Can you try putting redis-oplog as the last package, and initialize it first before anything else on the server ?

[2016-11-18 16:38] theodorDiaconu commented on #38
Pls make sure that if you use *publish* you must have `RedisOplog.init({overridePublishFunction: true})`. Otherwise use publishWithRedis

[2016-11-18 17:38] maxnowack commented on #38
The first thing I've noticed is that it seems that there if an incompatibility with the `meteorhacks:unblock` package. I was getting a `Maximum call stack size exceeded` error. After removing the package, it was gone.
I'm still testing. I'll post more information here.

[2016-11-18 17:42] maxnowack commented on #38
I get some RangeErrors with the latest version:
[code]

[code]

[2016-11-18 17:53] theodorDiaconu commented on #38
@maxnowack make sure your version is 1.0.7 we had this infinite recursion bug and it was fixed since 1.0.5 thanks !

[2016-11-18 18:16] maxnowack commented on #38
Yes, I have v1.0.7. I don't make an update. The error occurs on subscribing.

[2016-11-18 18:35] theodorDiaconu commented on #38
Somehow an update is made to the user and ejson goes into an infinite loop weird.

[2016-11-18 19:03] maxnowack commented on #38
I do an method call right after subscribing:
![image](https://cloud.githubusercontent.com/assets/186073/20442679/e1d5368a-adc9-11e6-8c79-b9a86908fc19.png)
the method updates a value in a document, that will be published from the publication. The publication returns multiple cursors.
Do you need more information?

[2016-11-18 19:13] theodorDiaconu commented on #38
I need the exact update you do on the user, the contents of that update for some reason trigger the infinite loop

[2016-11-18 19:22] maxnowack commented on #38
The method looks like this:
[code]
can it be the `this.unblock()` call?

[2016-11-18 19:56] theodorDiaconu commented on #38
How does services publication look like?

[2016-11-18 19:58] theodorDiaconu commented on #38
It seems that the infinite loop is due to some filters and/or options of some publication, we ejson parse it to identify the unicity of a query.

[2016-11-18 20:35] maxnowack commented on #38
I don't have a publication named "services". I assume that you're talking about the "team" publication. "Services" is one of my collections.
The "team" publication returns 7 cursors with filters mainly based on the `teamId` and `this.userId`.  It also checks the users permissions and build the `fields` option of some cursors dynamically.
Additionally I create a "team user session" to track the onl

[2016-11-18 20:37] maxnowack commented on #38
And what I have forgotten so far: Your support and what you do for the meteor community is awesome! You've done a great job with grapher and you've done it again with this package. That's incredible! Thank you!

[2016-11-19 05:40] hexsprite opened #40 "redis warning using Mongo bulk insert"
[code]

Using some code like:

[code]

[2016-11-19 05:55] hexsprite commented on #40
I think it's to be expected that this would not work but just wonder why I would get this warning at all.

[2016-11-19 07:42] theodorDiaconu commented on #38
@maxnowack thanks , appreciate it.

Now regarding this bug, the info I know it happens when you subscribe.

Is anything within the cursors' filters or options self-referncing some how, resulting into an infinite loop when we json encode ?

https://github.com/cult-of-coders/redis-oplog/blob/master/lib/cache/PublicationFactory.js#L60
^ This is how we extract the unicity of a response within a public

[2016-11-19 07:47] theodorDiaconu commented on #40
@hexsprite what what ? I'm trying to understand how would it even reach redis. What we do, we only extend the Mongo.Collection.prototype, since you do rawCollection(), nothing should even affect redis. What you could do in this case.

Clone this package in your packages folder. Go here:

https://github.com/cult-of-coders/redis-oplog/blob/master/lib/mongo/lib/publish.js#L11

..and do a console.trac

[2016-11-21 11:51] maxnowack commented on #38
hmm, I commented out everything from the publication and added the code again step by step to see when the error occurs.
I'm not able to return multiple cursors. In my first failing test I was trying to return 2 cursors:
[code]

[2016-11-21 13:57] maxnowack commented on #38
Update: It doesn't have anything todo with multiple cursors. The error even occurs if I only return the `Tags` cursor.
I've defined a transform function on `Tags`. It seems that there is some problem with `EJSON.stringify` and the `transform` inside of the cursor options. It works If I explicitly set `transform` to null in the cursor options.

[2016-11-21 14:27] theodorDiaconu commented on #38
@maxnowack wow I was just planning to look into it but I think you found it!

So it seems there's something wrong with transform... very curious why I did not have such an issue. If you clone the package, and put here:

https://github.com/cult-of-coders/redis-oplog/blob/master/lib/cache/PublicationFactory.js#L65

options.transform = null.

Does it still happen ? Why would you have a transform func

[2016-11-21 14:53] simonbelanger commented on #38
Hey guys, sorry I was out for the weekend.

FYI, I'm not sure my issue is related to @maxnowack 's, since the collection method calls are working perfectly on server, plus I don't see any error stack (client nor server).

I tried to wrap a call to a collection method in a Meteor method stub (executed both client and server-side) and as I expected everything's working fine this way, the data is pub

[2016-11-21 14:59] theodorDiaconu commented on #38
@simonbelanger no probs, this issue gone a bit off-topic, but we made good progress on it. now regarding client-side entries. I will test, I have no idea why this happens. But very good find.

[2016-11-21 15:00] theodorDiaconu commented on #35
@gaurav-  I'm closing this. Feel free to open it when you have a solution for this. I'm interested for this to be as BC as possible.

[2016-11-21 15:00] #35 closed

[2016-11-21 15:14] maxnowack commented on #35
the `tracker-component` npm package is using pseudo globals like this: https://github.com/studiointeract/tracker-component/blob/master/lib/index.jsx#L2-L4

[2016-11-21 15:25] maxnowack commented on #38
Just for reference, that's the piece of code where the server side methods are being generated:
https://github.com/meteor/meteor/blob/87681c8f166641c6c3e34958032a5a070aa2d11a/packages/allow-deny/allow-deny.js#L73-L204

[2016-11-21 15:31] maxnowack commented on #38
Ok, I've got the point. We have to also extend the prototype of `LocalCollection`.
I'm already working on a PR :)

[2016-11-21 15:32] theodorDiaconu commented on #38
@maxnowack I've omitted "transform" for now when creating a publication id, for people that I have defined a general transform. and yes, why would we need transform for publications ? makes no sense.

@maxnowack thank you. amazing! very curious to see it.

[2016-11-21 15:34] simonbelanger commented on #38
Good catch @maxnowack , you da man!

[2016-11-22 10:26] maxnowack opened #42 "Changed parameter order on update method"
As mentioned in #41, the default parameter order of the update method has [changed](https://github.com/cult-of-coders/redis-oplog/blob/2d5834dc4e2945399f9bbe9fd5b6b66979f75a70/lib/mongo/collection.extension.js#L54-L61) from `( ... , options, callback)` to `( ... , callback, options)`. In the [default order](http://docs.meteor.com/api/collections.html#Mongo-Collection-update), the callback is alway

[2016-11-22 11:50] maxnowack opened #43 "Wrong fields published on update"
There is a bug in [the `handleUpdate` method of the default processing strategy](https://github.com/cult-of-coders/redis-oplog/blob/master/lib/processors/default.js#L40-L44):
[code]

if the update gets called and the document isn't already in the observable collection, it will be added to it. But only with the fields, that were updated.
This bug is totally messing up my published documents and I'm

[2016-11-22 12:02] theodorDiaconu commented on #43
Good find yes, I believe this is a quick fix. Working on it now.

[2016-11-22 12:32] theodorDiaconu commented on #42
Good point, the getMutationOptions would have been the function to detect it, but for update since we have config "built-in" it's ok. I definitely need to rewrite that function..

[2016-11-22 12:36] #42 closed

[2016-11-22 12:36] #43 closed

[2016-11-22 12:36] theodorDiaconu commented on #43
@maxnowack updated to 1.0.10

[2016-11-22 12:52] maxnowack opened #47 "Support for collection2 parameters on insert function"
Exactly the same as #42. The changed parameter order breaks support for `aldeed:collection2` parameters.
See: https://github.com/aldeed/meteor-collection2#passing-options

[2016-11-22 13:51] maxnowack commented on #47
@theodorDiaconu yes, exactly like in ed2aefad4f9006f9d8ae581ad685212f479a1aaa

[2016-11-22 21:04] willhoyle opened #48 "Using fields in a publication and making an update to a nested item on it does not properly update the client-side store."
Can I get clarification on this part in the readme?
[code]

I have a publication with a cursor such as:
[code]
When I replace my Meteor.publish with Meteor.publishWithRedis, I seem to be getting errors in my app.

[2016-11-23 04:37] theodorDiaconu commented on #48
@willhoyle that is related to synthetic mutations, unless you use that you don't need to worry about it.

What errors ? Be more descriptive, help us reproduce it.

[2016-11-23 04:44] theodorDiaconu opened #49 "New Processing Strategy ideas: Amnesia"
So, currently we have different strategies that maintain a snapshot of the store in memory of the server.

Now, if we have a chat or something between to users, we don't want to store the snapshot server-side at all, so basically it will only keep the active filters, to see if it matches your query.

On insert checks for filter matching and does .added()
On update checks eligibility by db and does

[2016-11-23 09:09] willhoyle commented on #48
In my app my users have a field in their document called roles and it looks like this:
[code]

A user such as the one above can navigate the website acting as a different company. I have a dropdown menu with company1, company3, company3. When a new one is clicked, I call a Meteor method:
[code]

On the client I have a Tracker.autorun reacting to changes in the "roles._main" field.

When I have the

[2016-11-23 09:50] trackchris commented on #48
I've been having similar issues as described above with nested documents too, when I revert to using Mongo's Oplog it then behaves as expected. I haven't had time to investigate it further or build a reproduction yet though unfortunately.

[2016-11-23 11:57] theodorDiaconu commented on #48
@willhoyle your example is perfect! I will transform it into an use-case and solve it. I think I know what's going on... it's a very good find!

@trackchris even if you don't have time to track it, it's good to create an issue here I may instantly know what's going on.

[2016-11-23 12:45] theodorDiaconu commented on #38
If you guys still need client-side functionality I suggest you create a simple wrapper.

[code]

Sorry about this, but investing effort in doing something bad is not good. And I'm sure you understand the decision of not supporting client-side mutations.

[2016-11-23 12:45] #38 closed

[2016-11-23 12:49] #48 closed

[2016-11-23 12:50] theodorDiaconu commented on #48
@willhoyle solved written 2 tests that match your exact use case. Thanks for taking time to notify me on this one. Good job.

[2016-11-23 13:58] willhoyle commented on #48
@theodorDiaconu wow that was quick! can confirm it works properly now. thanks for the fix

[2016-11-23 15:24] theodorDiaconu commented on #40
ping @hexsprite

[2016-11-23 15:51] maxnowack commented on #38
I have done the work: https://github.com/maxnowack/meteor-allowdeny-redisoplog
I've modified the core `allow-deny` package, which is responsible for client side mutations and build a custom package: https://github.com/maxnowack/meteor-allowdeny-redisoplog
This package overrides some functions on the collection prototype (basically it rewrites `this._collection.insertUpdateOrRemove` to `this.insert

[2016-11-23 15:58] theodorDiaconu commented on #38
@maxnowack you continue to amaze me. good job. I will put this package in the official readme docs.

[2016-11-23 16:08] theodorDiaconu commented on #38
@maxnowack added it in the README.md, don't forget to publish it to atmosphere as well

[2016-11-23 16:11] simonbelanger commented on #38
@maxnowack Great! I'll give it a try as soon as I can!

[2016-11-23 16:15] maxnowack commented on #38
I'll have to do a bit more testing before I publish it ;)
@simonbelanger if you want to try out the package, make sure that allowdeny-redisoplog is loaded before the accounts package if you're using it.

[2016-11-23 16:36] simonbelanger commented on #38
@maxnowack and how can I specify package loading order exactly?

[2016-11-23 16:41] maxnowack commented on #38
@simonbelanger meteor loads the packages in the order as the `.meteor/packages` file ;)

[2016-11-23 16:44] simonbelanger commented on #38
👍

[2016-11-23 20:23] maxnowack opened #51 "Latency compensation doesn't work properly"
As mentioned in [this post](https://forums.meteor.com/t/meteor-scaling-redis-oplog-status-1-0-11/30855/207?u=maxnowack), I've noticed an issue with latency compensation / optimistic ui.
The changed documents will be synced to the client, after the result of a method was received. That causes some flickering. The method on the client side will be reverted because the changes were not sent by the se

[2016-11-23 20:42] maxnowack opened #52 "Publish to npm instead of atmosphere"
This would probably resolve #35
We could rely on meteor globals with this pattern:
[code]

[2016-11-23 20:50] maxnowack commented on #47
It looks like b5ab7c8493e889a03eeb8230b814ac0f4742de74 hasn't fixed this issue yet. the options won't be passed down to the original insert/update/remove function.
I can fix this if you like, but it would be great if you have merged #50 before (to avoid unnecessary merge conflicts)

[2016-11-24 00:55] hexsprite commented on #40
@theodorDiaconu I tried it and all console output would stop when I added .trace() for some reason. ;( I'll try it again soon and post my results here.

[2016-11-24 02:44] ramezrafla commented on #38
@theodorDiaconu, while I perfectly sympathize with your rationale that we want to follow MDG direction and avoid client-side mutations, I would recommend including this. Here is why: we want to easily replace existing functionality for a proper drop-in. As new users come on board they may try client-side updates. Just the mere fact that they have friction, and have to ask questions, means we may l

[2016-11-24 04:56] theodorDiaconu commented on #52
Do you have an example of an npm package that is specifically built with Meteor + also has tests built-in ?

[2016-11-24 05:43] theodorDiaconu commented on #51
Ok so let me think, I saw that you got most of the code from here:
https://github.com/meteor/meteor/blob/devel/packages/allow-deny/allow-deny.js#L356

And did the inserts on the collection not collection._collection.

Ok I get it so the problem is that it causes flickering, but in the end, the local state is the correct one ?

[2016-11-24 07:14] theodorDiaconu commented on #51
@maxnowack just tested this locally and it works for me without a problem. Client-side inserts are updated properly.

[2016-11-24 08:27] maxnowack commented on #51
hmm, I got the same issue without my package and normal method calls:
![image](https://cloud.githubusercontent.com/assets/186073/20591304/2976377a-b228-11e6-916b-3419185270e7.png)

[2016-11-24 08:29] theodorDiaconu commented on #51
@maxnowack then it is not related to client-side inserts. good we figured that out.

But what is the reason, you do a call, the local side seems to be updated. What's the exact issue ?

[2016-11-24 08:57] theodorDiaconu commented on #51
@maxnowack for latency compensation you will need to do Meteor.apply('name', [args], options)

[2016-11-24 09:00] maxnowack commented on #51
I think this demo explains the issue:
![redisoplog_lc](https://cloud.githubusercontent.com/assets/186073/20592210/88d62eb0-b22c-11e6-8c29-1688eb6ab57e.gif)
As you can see, the post was added, then removed and then readded.
Here's the code: https://github.com/maxnowack/meteor-redisoplog-latencycompensation

[2016-11-24 09:04] maxnowack commented on #51
@theodorDiaconu why do I need to use `Meteor.apply` for latency compensation? It is sufficient, if the method was defined on client and server, isn't it?

[2016-11-24 09:05] theodorDiaconu commented on #51
@maxnowack no, that's not how it works. Thing is optimistic ui is very badly documented. I am now cloning the repo and trying with apply :)

[2016-11-24 09:06] maxnowack commented on #47
@theodorDiaconu can you please reopen this issue? I'll open a PR to fix it :)

[2016-11-24 09:09] maxnowack commented on #51
But without the redis oplog package, the latency compensation is working fine:
![image](https://cloud.githubusercontent.com/assets/186073/20592476/0302cfd0-b22e-11e6-8219-442a6292c37e.png)
you can try it in the `without-redisoplog` branch

[2016-11-24 09:11] maxnowack commented on #51
Ah, the root of the issue isn't the result of the method, but the `updated` message for the method

[2016-11-24 09:11] theodorDiaconu commented on #51
@maxnowack you are correct I am now investigating. this is still not good.

[2016-11-24 09:24] theodorDiaconu commented on #51
I'm absolutely baffled, I have no idea why client-side inserts work from my other application without your package..

[2016-11-24 09:39] theodorDiaconu commented on #47
@maxnowack thanks!

[2016-11-24 09:39] theodorDiaconu commented on #47
in package onTest require collection2 and write a test for it please.

[2016-11-24 09:53] maxnowack commented on #51
That's the piece of code, where the `updated` message is being send: https://github.com/meteor/meteor/blob/devel/packages/ddp-server/livedata_server.js#L643-L656

[2016-11-24 10:07] theodorDiaconu commented on #51
was just looking there, it seems that they somehow await other publications to do their thing before returning the result. It means that we need to somehow hook into that fence

[2016-11-24 10:29] theodorDiaconu commented on #51
https://github.com/meteor/meteor/blob/devel/packages/mongo/mongo_driver.js#L295-L309

Made progress on this managed to get the change from a client-side insert inside the ObservableCollection now I need to understand how to make it performant.

[2016-11-24 10:52] maxnowack commented on #52
I'll build one ;)

[2016-11-24 10:56] theodorDiaconu commented on #52
how would we tackle package dependencies ?

[2016-11-24 10:57] theodorDiaconu commented on #52
actually we only depend on : dburles:mongo-collection-instances really, and I use it just to get the collection by a name, I believe that can be solved.

[2016-11-24 11:42] theodorDiaconu commented on #51
So... here is the deal if you are curious:
https://github.com/meteor/meteor/blob/devel/packages/mongo/mongo_driver.js#L363-L366

[code]

So basically all listeners to the _InvalidationCrossbar are fired, before the end-result of a method is pushed to the client. So they can do it in sync and do the updates, before sending that 'update' message we saw.

[code]

Oh boy what have I gotten myself into

[2016-11-24 13:01] trackchris opened #53 "Not all fields being pushed to client after updating a nested document"
I have a collection which contains numerous fields including an array of nested documents comprising of 2 fields, the schema for the nested doc is as follows:

[code]

When performing an update to a single field (the quantity) in the nested document using a Meteor method, the stockId field is not transmitted back to the client when using Redis Oplog.

Here is a screenshot of the DDP messages when

[2016-11-24 13:28] theodorDiaconu commented on #53
@trackchris confirm that you are using 1.0.11 first please.

[2016-11-24 13:35] trackchris commented on #53
Oops forgot to mention that - yes I am using 1.0.11

[2016-11-24 13:37] theodorDiaconu commented on #53
@trackchris perfect I will take care of this ASAP. Today I lost almost 4 hours, but I figured out a way to solve the Latency Compensation issue.

[2016-11-24 13:40] theodorDiaconu commented on #53
@trackchris your issue is related to the fact that bom is an array. I did not take into account that. Super good find!

[2016-11-24 14:04] maxnowack commented on #52
Here it is: https://github.com/maxnowack/meteor-npm-package
It uses this small package to get globals from meteor: https://github.com/maxnowack/meteor-globals

I think the easiest way to depend on a meteor package would be, to check if the package is there and otherwise log a messagte, throw an exception and kill the process. What do you think?

[2016-11-24 14:09] theodorDiaconu commented on #52
Amazing. It's really good, so the only advantage for moving to npm is to offer support for 1.2.x ?

[2016-11-24 14:10] theodorDiaconu commented on #40
@hexsprite maybe it stops when it knows it is observed, maybe some quantum thing going on ? :D

Jokes aside, if you toggle between console.trace() and not the message appears ?

[2016-11-24 14:15] maxnowack commented on #52
mainly yes, but it feels like atmosphere is deprecated.

[2016-11-24 14:44] gaurav- commented on #35
Sorry for the late response, been stuck with some production issues to miss all the fun here :|

Looks like #52 is the right way to go. I hope it can stay compatible with Meteor 1.2. If not, then that might be the time to reopen this. But I'm quite hopeful, especially since the meteor packages @theodorDiaconu mentioned are already compatible. Thanks.

[2016-11-24 15:00] gaurav- commented on #52
Just a note that merely moving to npm doesn't automatically mean support for 1.2.x. It would also depend on not using any unsupported Meteor (or its packages') APIs. That would be difficult to control since versions of Meteor packages cannot be controlled through NPM. We might have to rely on unit tests. But I'd worry about it only after the move to npm is complete.

@maxnowack nice initiative wit

[2016-11-24 18:23] hexsprite commented on #40
OK i tried the latest update and it no longer hangs with using `console.trace`. But that doesn't appear to be the issue. I think it's because I am publishing something that has no associated collection. Basically I am creating a collection that lives only on the client and is generated dynamically on the server.

I'm using .added/.changed which updates records on a client-side collection...

[2016-11-25 09:29] theodorDiaconu commented on #40
@hexsprite
https://github.com/cult-of-coders/redis-oplog/blob/master/lib/publishWithRedis.js#L36-L39

If your publication does not return anything, it will default to Meteor.publish behavior. I'm really interested in find up what's going on. Can you show us an example of your publication so we can write a test-case for it ?

[2016-11-25 09:40] #53 closed

[2016-11-25 09:49] theodorDiaconu commented on #18
This is a hard problem. Let us first focus on Meteor & MongoDB. I made the same decision in Grapher and it proved to be solid: "Satisfying everyone is a guarantee to failure"

[2016-11-25 09:49] #18 closed

[2016-11-25 09:50] theodorDiaconu commented on #20
It cannot be solved efficiently. It would still need to requery the database for the cursor's consistency.

[2016-11-25 09:50] #20 closed

[2016-11-25 09:51] theodorDiaconu commented on #36
The problem was that things happened so fast, that if you do an insert and remove after, no data is pushed to the client (no remove and no add). I assume this is due to Mergebox. And it proves that the code is efficient and consistent. If we did a setTimeout of 100ms it worked everytime.

[2016-11-25 09:52] #36 closed

[2016-11-25 09:54] theodorDiaconu commented on #11
If by any chance redis stops. Reactivity will stop. If you have a lot of active users, polling will result in killing the database ?

Because Redis is stable and mature, we assume this won't be the case. It will be the responsability of the devops to ensure that it will be always online.

[2016-11-25 09:54] #11 closed

[2016-11-28 05:54] theodorDiaconu opened #58 "Add as an option to avoid race-conditions to redis"
Given a context where you accuracy of data is critical race-conditions can happen when they want to push to redis after updates have finished at the same time.

[code]

When an update happens, make sure you retrieve from db the fields.

[code]

[2016-11-28 17:13] ramezrafla opened #61 "Reactive publishing fails with recent changes"
The last functioning commit is this one:
[code]

We use package peerlibrary:reactive-publish like this:

[code]

Here is the error
[code]

And we get many of these (but could be unrelated to the above publishing, we have many reactive publishing in our app which could trigger this, just mentioning for completeness)

[code]

[2016-11-28 18:46] ramezrafla opened #62 "Can't get SyntheticMutation to work"
We have a publication with a custom channel and it's working well without SyntheticMutation, on both server and client.

When we replace this:
```self.collection.update({_id:to},{$push:{messages:message}},{channel:channel});```

With either
```SyntheticMutation(channel).update({_id:to},{$push:{messages:message}})```
Or
```SyntheticMutation(self.collection.update).update({_id:to},{$push:{messages:m

[2016-11-28 19:16] jamesgibson14 opened #63 "Error with meteorhacks:kadira?"
I just go this error I don't think I changed anything except maybe the update to 1.0.13, any ideas?

I20161128-12:03:41.641(-7)? [PublicationEntry] Performing initial add for observer
I20161128-12:03:41.643(-7)? [RedisSubscriptionManager] Subscribing to channel: __dummy_coll_kshBrXjZse2XcH2MS
I20161128-12:03:41.785(-7)? [PublicationEntry] Performing initial add for observer
I20161128-12:03:41.795(

[2016-11-28 19:25] jamesgibson14 commented on #63
I have verified the 1.0.10 works with kadira. I am guessing it is because this file tries to extend the prototype of mongo observers:
https://github.com/meteorhacks/kadira/blob/384463446f613a4dd32275c732f8be3db761f4b4/lib/hijack/set_labels.js

[2016-11-28 20:00] theodorDiaconu commented on #62
@ramezrafla I should have mentioned this. SyntheticMutation accepts an object that will deepExtend the current object. No MongoDB modifiers. Though maybe we could use a library to accept them.

So if you want to add another message to the messages array currently it is not possible.

[2016-11-28 20:02] theodorDiaconu commented on #61
@ramezrafla that commit actually fixed the publishComposition  for publish-composite, but it seemed it broke for: peerlibrary:reactive-publish, got it, will fix.

[2016-11-28 20:03] theodorDiaconu commented on #63
@jamesgibson14 good find, will fix.

[2016-11-28 20:04] theodorDiaconu commented on #62
https://www.npmjs.com/package/mongo-query maybe we could use this one.

[2016-11-28 20:11] ramezrafla commented on #61
Thanks! I wanted to make sure I was clear in my message above, the commit mentioned DOES work, the ones after do not! I am available to test when you give me the signal. Thanks a lot!

[2016-11-28 20:12] ramezrafla commented on #62
Beautiful! SyntheticMutation is indeed a game-changer! As a wise man said in the readme: "Bounded by your imagination" :)

[2016-11-28 20:14] ramezrafla commented on #62
I think I understand better, as you are bypassing mongo, you are affecting the data directly.

[2016-11-28 20:26] #47 closed

[2016-11-28 23:00] Maxpain177 opened #64 "Don't trigger changes if nothing was actually changed"
oldDoc not passing

[code]

It's possbile fix it?

[2016-11-29 07:01] theodorDiaconu commented on #64
@Maxpain177  good find. yes it will be fixed.

[2016-11-29 07:01] theodorDiaconu commented on #62
I will close this @ramezrafla  . If it still does not work re-open it.

[2016-11-29 07:01] #62 closed

[2016-11-29 07:08] theodorDiaconu commented on #61
@ramezrafla
`Exception in queued task: TypeError: Cannot read property '_id' of undefined`

This is very weird, basically you have a subscription active based on _ids, and you do an update to an _id, and it can't find it in the observable collection for some unknown reason.. They are separate issues I believe. Can you give me more details on the 2nd one ?

[2016-11-29 07:45] theodorDiaconu commented on #64
@Maxpain177  a lot of changes are currently required to do such a thing. Basically the current observe() is not a full implementation of the observe() which has support for addedBefore, etc.

Do you really need this functionality ? This is my question. Because if there is no way to work-around this in some scenarios we will implement it.

[2016-11-29 07:55] #61 closed

[2016-11-29 07:55] #63 closed

[2016-11-29 10:30] theodorDiaconu opened #67 "Code Refactoring Plan - Production Ready Label V 1.1"
- [x] PublicationEntry will now only handle a single cursor.
- [x] Solve race-conditions problems by default, by fetching the data fields the observer.
- [x] Allow using Synthetic mutation like this: SyntheticMutation.update(string|Mongo.Collection, ...args)
- [x] Decouple insert/update/remove in it's own class that accepts a collection.
- [x] Write tests for synthetic mutations
- [x] Write tests

[2016-11-29 12:21] Maxpain177 commented on #64
@theodorDiaconu Yes, In my project (which contains several microservices, connected to one mongodb and redis) it is using everywhere.

[2016-11-29 12:23] theodorDiaconu commented on #64
@Maxpain177 I understand. Redis-oplog is now ready to go under some restructuring and refactoring, and this will be included :)

[2016-11-29 12:25] Maxpain177 commented on #64
@theodorDiaconu, Currently, i can't use this package, because i need remake most part of application architecture for working without oldDoc.
Thanks 👍

[2016-11-29 13:22] ramezrafla commented on #62
Thanks @theodorDiaconu
But it still does not work.

Here is how I publish:
```return self.collection.find({_id:this.userId}, { fields:{messages:1}, channel:channel} );```

And here is how I push:
```SyntheticMutation(channel).update({_id:to},{$push:{messages:message}})```
Or
```SyntheticMutation(self.collection.update).update({_id:to},{$push:{messages:message}},{channel:channel})```

If we remove

[2016-11-29 13:38] theodorDiaconu commented on #62
```SyntheticMutation(self.collection.update).update({_id:to},{messages:message})```

Because we do not support modifiers in the update from synthetic mutation. We will add support for this in next release.

[2016-11-29 14:19] jamesgibson14 opened #68 "Looks like error with matb33:collection-hooks in 1.0.14"
I20161129-07:14:00.155(-7)? Exception in defer callback: TypeError: Cannot convert undefined or null to object
I20161129-07:14:00.158(-7)?     at keys (native)
I20161129-07:14:00.160(-7)?     at Function.keys (/home/james/.meteor/packages/es5-shim/.4.6.15.5j45wu++os+web.browser+w
eb.cordova/npm/node_modules/es5-shim/es5-shim.js:1103:24)
I20161129-07:14:00.161(-7)?     at DotObject.dot (/home/james

[2016-11-29 15:12] ramezrafla commented on #62
Sorry, misunderstood when you closed this issue. Is there a way right now to add element to an array? I understood from prior message that there is not.

[2016-11-29 15:41] theodorDiaconu commented on #68
@jamesgibson14 give me a bit of info regarding the update that triggers this. thanks.

[2016-11-29 21:35] jamesgibson14 commented on #68
Not sure but I do know matb33:collection-hooks wraps the Collection function `.insert`, `.update`, `.remove`;
I create a hook;
`Records.before.insert(function(userId,doc){
   //do some stuff before insert;
})`
Whenever my insert / update hooks try and run... I get the error above.  this doesn't happen on 1.0.10.

[2016-11-30 06:34] ramezrafla opened #70 "Fields for channels"
When we publish on a channel, can we select fields normally?
```return self.collection.find({_id:this.userId}, { fields:{messages:1}, channel:channel} );```

[2016-11-30 06:40] ramezrafla opened #71 "Reactive publishing gets triggered needlessly"
We have a reactive publication using peerless's library. It gets triggered every time we have a change in the cursor it's pushing (vs. the cursor(s) it depends in this.autorun)

[2016-11-30 07:41] theodorDiaconu commented on #70
yes.

[2016-11-30 07:42] theodorDiaconu commented on #71
1. Why do you use autorun on the server-side, seems like a bad practice ?
2. Isn't that the expected behavior ?

[2016-11-30 10:21] #70 closed

[2016-11-30 11:37] stewartcelani opened #72 "Query: can this be dropped into existing project?"
I came across this project & Grapher (looks very nice) while looking at GraphQL (apollo). I have an app in beta at the moment and, while I've done some further reading (Meteor thread where https://docs.google.com/document/d/1yo3tRug1cBT1JCKwwSWiUiChuaZjKkY8pGynoszlgx4/edit#heading=h.l3c8qo9fkgu0 is referenced), I would like to know if its safe to drop this into an existing app whilst overriding th

[2016-11-30 11:55] theodorDiaconu commented on #72
@stewartcelani

I am now in the middle of releasing 1.1 which is going to make it very close to prod-ready
Yes, it works by default with Grapher's reactivity, and yes, Grapher can use the fine-tuning of it because you can modify the $options.

What you should do, is try it, because it's a plug-in, and you can easily disable it. You can help this package become even more robust.

It doesn't tail th

[2016-11-30 11:56] #67 closed

[2016-11-30 11:56] #68 closed

[2016-11-30 12:04] stewartcelani commented on #72
Thanks for the quick response.

I'll install and have a look around in my dev environment and, if things look good, will push it to one of my beta clients (self-hosted on ESXi) with approx. 100-160~ concurrent users over the workday.

Will the performance-increases get tracked by Kadira so I can use previous data as a comparison point?

[2016-11-30 12:08] theodorDiaconu commented on #58
solved

[2016-11-30 12:08] #58 closed

[2016-11-30 12:08] theodorDiaconu commented on #72
@stewartcelani basically if kadira tracks cpu usage then yes :)

[2016-11-30 13:00] theodorDiaconu commented on #72
I will close this since the questions have been answered! Cheers.

[2016-11-30 13:00] #72 closed

[2016-11-30 13:48] ramezrafla commented on #71
1. autorun is how reactive publishing works with [https://github.com/peerlibrary/meteor-reactive-publish](https://github.com/peerlibrary/meteor-reactive-publish)
2. The expected behavior is that if another cursor within the autopublish changes, the function gets re-executed. But not the returned cursor, as that is expected to change. So in the example in the link above:

[code]

[2016-11-30 15:20] maxnowack commented on #71
It's because of the ` find`'s and `findOne`'s used in the functions in (this file)[https://github.com/cult-of-coders/redis-oplog/blob/master/lib/mongo/Mutator.js].
Can probably be fixed easily by passing `reactive: false` to the options of `find` and `findOne`.

[2016-11-30 15:28] ramezrafla commented on #71
Thanks @maxnowack
So to be clear, we should make the returned cursor non-reactive

[2016-11-30 15:32] ramezrafla commented on #71
I can confirm that this solves the problem! Thanks @maxnowack

[2016-11-30 16:20] ramezrafla commented on #17
+
publishComposite
reactive publishing

[2016-11-30 20:57] ramezrafla opened #73 "When pulling from an array, and that array was left empty, the changes were not pushed."
Last working commit 539ac28 onwards client-side observers don't see data changes

When we disable redis-oplog all works as planned. We are using regular subscriptions (not reactive or publishComposite)

Below is the publish function

[code]

We are seeing a first change, then further changes are no longer pushed to client. Strange!

[2016-11-30 21:06] ramezrafla commented on #71
With {reactive:false} we lose client-side reactivity (Note: this is unrelated to #73)

[2016-11-30 21:29] ramezrafla commented on #73
I am available to help debugging, as with reactive publishing, it sporadically works in the commit above.

[2016-12-01 06:19] ramezrafla commented on #73
This is very strange - I can see the traffic in redis-cli monitor but client data does not get updated

[2016-12-01 07:00] theodorDiaconu commented on #73
@ramezrafla can you write a quick reproduction repo?

[2016-12-01 07:04] theodorDiaconu commented on #73
@ramezrafla the tests are passing and they test exactly this, what would help us is to share, what kind of update you do that is not somehow processed by redis-oplog.

[2016-12-01 07:07] theodorDiaconu commented on #64
@Maxpain177 check it now :)

[2016-12-01 07:20] maxnowack commented on #71
Yes, of course. `reactive: false` has to be added to the options of the cursors inside the overridden mutation functions in this package.

[2016-12-01 08:09] theodorDiaconu commented on #73
https://github.com/cult-of-coders/redis-oplog/commit/a08dd0accefd40d234e924eb9898d7a76dd5a142#diff-bf204365b06b5ff7a09527e4e8218c56R515

[2016-12-01 09:26] theodorDiaconu commented on #37
After some thinking about this, we won't do it, because RedisOplog must be the last wrapper around the code, and if you add other packages after redis-oplog, it may lead to even weirder bugs.

[2016-12-01 09:26] #37 closed

[2016-12-01 15:48] ramezrafla commented on #73
Thanks @theodorDiaconu for taking the time to debug this edge case with me. Always a pleasure.
I confirm that this issue is resolved.

[2016-12-01 15:48] #73 closed

[2016-12-01 15:49] ramezrafla commented on #71
Wouldn't that disable reactive push? That's the whole purpose of having these cursors there, is making the cursor watch them and republish based on their changes. What is happening is that, in addition to this, any changes to the cursor being pushed also re-publishes. We tested without redis-oplog and get the normal behavior.

[2016-12-01 22:19] ramezrafla opened #75 "SyntheticMutator not interpreting mongo operators"
When looking at the Redis logs we see variable $push being sent down, so not interpreted by mongo-query.

```1480630687.683521 [0 127.0.0.1:42830] "publish" "classroom-messages" "{\"e\":\"u\",\"s\":true,\"d\":{\"$push\":{\"messages\":{\"command\":\"SETSESSION\",\"parameters\":{\"name\":\"Applications.instructorEnabled\",\"value\":null},\"requestId\":2,\"createdAt\":{\"$date\":1480630687665},\"from

[2016-12-02 00:25] jamesgibson14 opened #76 "ObserveChanges not working correctly."
[code]

[2016-12-02 00:31] jamesgibson14 opened #77 "[Idea] Add collection methods, before and after hooks"
mat3b:collection-hooks is a great package but has some inefficiencies, like query the DB even when not needed. It would be great if RedisOplog could handles hooks where it is already focused on only talking to the DB when needed.

[2016-12-02 01:01] Maxpain177 commented on #64
Yes, it works. But, if nothing changed in doc, changed function still fires.

[2016-12-02 01:04] Maxpain177 opened #78 "Enable this package to work with NULL-name publications"
It's working with publications without name (null)?
There may be a conflicts?

[2016-12-02 05:15] ramezrafla opened #79 "server-side $set fails to update client"
Here is the redis log output (which is correct)

``
1480655469.956484 [0 127.0.0.1:35132] "publish" "content" "{\"e\":\"u\",\"f\":[\"meta.parent\"],\"d\":{\"_id\":\"twGNzy3xapkJMvYgi\",\"meta\":{\"parent\":true}}}"
1480655469.956546 [0 127.0.0.1:35132] "publish" "content::twGNzy3xapkJMvYgi" "{\"e\":\"u\",\"f\":[\"meta.parent\"],\"d\":{\"_id\":\"twGNzy3xapkJMvYgi\",\"meta\":{\"parent\":true}}}"
``

[2016-12-02 05:31] ramezrafla commented on #77
I am concerned that it slows things down since you have to check if there are hooks at every DB action. I did see that there is a .direct option, but it requires users to know about this. So adding hooks is technically BC but isn't at the same time as we have to make changes to our code to have max efficiency.

[2016-12-02 06:12] theodorDiaconu commented on #64
@Maxpain177  can you give me an example ? What kind of update you do ?

[2016-12-02 06:14] theodorDiaconu commented on #77
@jamesgibson14 that kind of a collection-hook-er would be a different package I don't think we could bundle them up in here. They are not the same concerns

[2016-12-02 06:17] theodorDiaconu commented on #75
Just written a test case for this, it seems like another edge-case ?

[2016-12-02 06:31] ramezrafla commented on #75
When I tried to debug it, ObservableCollection change method gets isSynthetic and modifier as undefined. I didn't test with a simpler variable.

Also, why don't we just assume that Synthetic.update always expects a mongo modifier? That's the point of BC no? Also, who would mix their code up with Mongo queries and regular variables.

[2016-12-02 06:36] Maxpain177 commented on #64
Just updating document.
[code]

[2016-12-02 06:37] #77 closed

[2016-12-02 06:37] Maxpain177 commented on #64
@theodorDiaconu
Just updating document.
[code]

[2016-12-02 06:38] theodorDiaconu commented on #77
If you think that it's a good idea, pls tell me your arguments. Collection hooks is indeed sometimes inefficient, but heck, it does the job. Maybe you can submit a PR there to make it more efficient ?

[2016-12-02 06:41] theodorDiaconu commented on #79
@ramezrafla we already have a test-case for deep-nested $sets. Something is again different, when you submit a bug give me the sample publication, because as you've seen it may be related to fields.

[2016-12-02 06:46] theodorDiaconu commented on #78
Good question. I think not. We'll add as limitation for now in README.

[2016-12-02 06:48] theodorDiaconu commented on #64
@maxnowack so if "count" was previously ZERO, it should not fire the change event.

[2016-12-02 07:01] Maxpain177 commented on #64
[Reproduction](https://github.com/Maxpain177/oplog-observe-issue-64)

[2016-12-02 07:17] #76 closed

[2016-12-02 07:33] ramezrafla commented on #79
Here is the publish

[code]

[2016-12-02 07:35] ramezrafla commented on #75
Thanks for your support, I can confirm with proper channel this works. We need to update readme for more clarity. I'll see if I can add value with a PR

[2016-12-02 07:59] #75 closed

[2016-12-02 07:59] theodorDiaconu commented on #79
should be working now, re-open if still occurs.

[2016-12-02 07:59] #79 closed

[2016-12-02 08:11] #78 closed

[2016-12-02 08:14] theodorDiaconu commented on #78
I realized that this works by default.

[2016-12-02 08:14] theodorDiaconu commented on #64
Fixed.

[2016-12-02 08:14] #64 closed

[2016-12-02 09:43] theodorDiaconu commented on #17
this would be an ever-lasting issue. I will close it and we'll create others as new bugs arise.

[2016-12-02 09:43] #17 closed

[2016-12-02 09:43] theodorDiaconu commented on #40
I am going to close this. Please re-open it when you have more information on this.

[2016-12-02 09:43] #40 closed

[2016-12-02 10:05] theodorDiaconu commented on #49
I can confirm that using this.disableMergebox() works as planned with RedisOplog.

[2016-12-02 10:06] theodorDiaconu commented on #49
In this case, there is no more need for amnesia processing.

[2016-12-02 10:06] #49 closed

[2016-12-02 11:56] theodorDiaconu commented on #33
This will not be reliable, and we'll have to do more checks then expected.

[2016-12-02 11:56] #33 closed

[2016-12-02 12:38] theodorDiaconu commented on #52
Since this project is meteor related and does not work with the whole ecosystem, until Atmosphere is deprecated it makes no sense to put it to npm. It will lead to unecessary overhead.

[2016-12-02 12:38] #52 closed

[2016-12-02 13:07] theodorDiaconu commented on #23
I am not sure if this can be useful, it will basically ocupy memory and will do processing without having an actual observer, and it just assumes that a new observer may come in after 50s. So we keep the watcher alive without a necessity, just because a db query can be heavy, but if it is heavy maybe you can optimize it via indexes.

[2016-12-02 13:07] #23 closed

[2016-12-02 15:14] ramezrafla commented on #79
@theodorDiaconu , thanks!
Just tried and it still does not work.

The behavior now is a bit different. If a client calls a method to make a change, others see it, but it does not get a data update. Likely related to top-level changes only for DDP again?

[code]

[2016-12-02 15:22] jamesgibson14 commented on #77
I agree that hooks do slow down the process, but since I am going to be using RedisOplog, a simple flag check:
`if(collection.hasHooks)
  Meteor.defer(runHooksFunction)
`
My arguments are that I need to run the hooks anyway, I would rather take advantage of the PublicationStore. Collection-hooks can be improved but it still calls the DB again to get the same doc.

[2016-12-03 18:03] ramezrafla commented on #79
@theodorDiaconu, we got it working by dispensing with the publishComposite and using two reactive publishes instead.

With publishComposite, the publishing works at start (we get the data), but then we get no updates [I have seen sporadic updates, though, but only once and then it stops]. Note that this happens with both top level fields and 2nd-level ones. publishComposite is important for many a

[2016-12-03 18:30] ramezrafla commented on #79
Some more updates, even with reactive publishing and regular publishing we are still facing this issue. It started out better, but eventually data updates don't reach the client. We are available to debug.

It might relate to how we publish, we send a cursor like this:
[code]

Maybe channels get somehow confused when we have so many id's (given channels are id-dependent)

[2016-12-05 08:03] theodorDiaconu opened #81 "Strange behavior when using _ids (direct processing) and other filters"

[2016-12-05 08:27] #81 closed

[2016-12-05 17:46] jamesgibson14 opened #83 "Error, object being sent to mongo.insert, should be callback function or null"
Okay I finally found what is causing a "function undefined error".
On insert
https://github.com/cult-of-coders/redis-oplog/blob/master/lib/mongo/Mutator.js#L11
passes a config object `{_pushToRedis: true}`
mongo.insert expects the second argument to be a function or nothing:
https://github.com/meteor/meteor/blob/master/packages/mongo/collection.js#L467

[2016-12-05 17:50] jamesgibson14 commented on #83
It looks like the insert still work, then it just errors out on the callback function.

[2016-12-05 18:12] jamesgibson14 commented on #83
Also adding callback to an insert don't work:
`Collection.insert({test:true}, function(error, result){
  //do stuff after insert
})`
the callback get overridden by getMutationConfig

[2016-12-05 18:49] theodorDiaconu commented on #83
@jamesgibson14 we had some problems with the callbacks before so they are currently not supported. Why do you use callbacks ?

[2016-12-05 18:55] theodorDiaconu commented on #83
the problem is that, we cannot really make them async, just emulate the callback somehow. This is why we discourage callbacks to be used. Maybe the thing here would be to display a propper error.

[2016-12-05 20:22] jamesgibson14 commented on #83
Okay, so maybe just send a null  on Mutator.js instead of the config obj:
`const result = Originals.insert.call(this, data, null);`
I do use callbacks sometimes usually for error management, but I probably don't have to...

[2016-12-05 21:40] jamesgibson14 commented on #83
Yes, that should work fine. I guess I just didn't understand the callback limitations.

[2016-12-06 08:06] theodorDiaconu commented on #83
Thank you.

[2016-12-06 08:06] #83 closed

[2016-12-06 16:00] ramezrafla opened #84 "Publication does not push new documents"
If we publish like this:
[code]

And some documents don't exist yet, then the documents are added to the collection (with their predefined id's already in ```users```) the cursor does not update and push the new document. We need to logout and relogin to see the newly added documents. In regular oplog we see the added docs right away.

[2016-12-06 17:32] ramezrafla commented on #84
Thanks @theodorDiaconu for the quick fix -- yet another edge case :)
Confirming this works on the feature/1.1.5 look forward to the master branch.
Closing ...

[2016-12-06 17:32] #84 closed

[2016-12-07 05:34] theodorDiaconu commented on #71
Is this solved @ramezrafla  ?

[2016-12-07 05:45] ramezrafla commented on #71
Can I get back to you shortly, will run some tests.

[2016-12-07 06:29] ramezrafla opened #86 "Question about SyntheticMutator persistence"
When we do this
```SyntheticMutator.update('classroom::'+to,to,{$push:{messages:message}});```

Does this message get saved somewhere or is it just sent down? In other words, do we need to clear the queue?

[2016-12-07 06:58] ramezrafla commented on #86
Got my answer from @theodorDiaconu, data saved in memory until subscription cleared

[2016-12-07 06:58] #86 closed

[2016-12-07 09:03] theodorDiaconu opened #87 "Doesn't work well without collection2 package. It fails like this:"
Exception in defer callback: TypeError: callback is not a function
I20161207-10:52:58.863(2)?     at packages/mongo/collection.js:651:5
I20161207-10:52:58.864(2)?     at packages/minimongo.js:615:7
I20161207-10:52:58.864(2)?     at [object Object]._.extend.withValue (packages/meteor.js:1122:17)
I20161207-10:52:58.864(2)?     at packages/meteor.js:445:45
I20161207-10:52:58.864(2)?     at runWithEnv

[2016-12-07 21:55] jamesgibson14 commented on #76
I think this is broken again, I am not getting the changed fields object in ObserveChanges

[2016-12-08 08:56] ramezrafla commented on #71
I'll close this issue as it's not really disturbing us (and didn't get the chance to dig deeper). Will reopen if it arises again, thanks @theodorDiaconu !

[2016-12-08 08:56] #71 closed

[2016-12-08 08:59] ramezrafla opened #88 "Should SyntheticMutation keep local copy of data?"
We had to stop using SyntheticMutator as the local copy of the data became a problem. When multiple instances of Meteor are running, the instance issuing the data send may not be the same as one managing the receiver. So the sender keeps the data as we have no way of clearing it when the receiver gets it. I hope I am clear :)

Maybe SyntheticMutator should be nothing more than a sender with no sto

[2016-12-08 14:08] ramezrafla opened #89 "Server-side errors from direct processors unable to find id's"
Below are the server-side stack traces .. thanks!

[code]

[code]

[2016-12-08 17:39] ramezrafla commented on #89
So here is what is happening upon research:

We had a user that had not logged in in a while. Their profile was pointing to stale docs that were cleaned up since (we do autoclean when users login)

So upon login, the autorun publication triggers a push of non-existent id's. As the clean up happens and removes the faulty id's one by one, the autorun keeps triggering trying to locate other missing i

[2016-12-08 17:48] ramezrafla opened #91 "Redis publish warning"
[code]
This happens when we use a custom oAuth mechanism - likely when user gets published

[2016-12-09 12:48] theodorDiaconu opened #92 "Edge-case found by someone in community"
Well it seems to be problems with cursor.observeChanges and also cursors that have `fields: {name:1}'
I am working right now on local to see if I can isolate the problem.

This was one of the modifiers: { '$addToSet': { passengers: { _id: 'y2MECXDgr9ggiP5D4', name: 'Marlee Nielsen', phone: '' } } }

[2016-12-09 12:49] theodorDiaconu commented on #91
Need to add a check before publishing messages to redis. Good catch.

[2016-12-10 08:02] thearabbit opened #93 "TypeError: Meteor.publishWithRedis is not a function!"
get error `TypeError: Meteor.publishWithRedis is not a function`
[code]

[2016-12-10 08:03] thearabbit commented on #93
Should I install `redis` first?

[2016-12-12 09:00] theodorDiaconu commented on #93
redis.js needs to be loaded as first thing, in your case you call publishWithRedis before RedisOplog.init(). yes, install redis as well.

[2016-12-12 09:00] #93 closed

[2016-12-12 13:02] thearabbit commented on #93
Thanks for your reply, I will try.

[2016-12-13 07:11] theodorDiaconu opened #94 "Redis Monitor"
RedisOplog.monitor(console)

- Number of active queries followed
- Number of re-uses per queries (and give a reusability percentage)
- How much memory is the store ocuppying
- What is the maximum publication that ocuppies most memory (offer the name and id)
- What is the minimum publication that ocuppies the least memory. (name and id)

[2016-12-13 08:53] ClaudiuRoman opened #95 "Bug updating a reactive variable"
I'm subscribing to "self", a subscription which fetches current user information.  We have a template in  Blaze, which basically returns the template based on a field from reactive variable.

The value from the reactive variable is going to be changed in a method call. The value it's getting changed in the database but if I type Meteor.user() and check for the field that was supposed to be changed

[2016-12-13 11:58] thearabbit opened #96 "Have any example repo?"
I don't clear, how to use it?
Please, example repo to try.
Thanks for your reply.

[2016-12-15 10:29] theodorDiaconu commented on #88
@ramezrafla I think this should be configurable. If you want to fire and forget. We could do

SyntheticMutator.update(Users, "messages", {}, {noStorage: true})

[2016-12-15 14:00] ramezrafla commented on #88
Agreed, I propose it be the other way:

``SyntheticMutator.update(Users, "messages", {}, {storeInMemory: true})``

The default should be non-persistent as in production, most of us would not use memory storage (as mentioned above 1. defeats the purpose of a central DB, 2. wouldn't work when you have many meteor instances)

[2016-12-20 03:06] theodorDiaconu commented on #96
You just add it as a package, and make sure RedisOplog.init() is the first thing you run. It's in the README.

[2016-12-20 03:06] #96 closed

[2016-12-22 01:12] juvyc opened #97 "It empty the lists after update/insert"
Hi,

I'm not sure if what's wrong with the integration I did. Right now when I imported the `redis.js` using this path '`../imports/startup/server/redis.js`' in the `main.js` on the `server` I got an empty list on the list view that used publish method. It happens when I added/updated a certain list of data.

I'm using right now the 1.4.x.x of meteor.

Any possible help are very welcome.....

Than

[2016-12-22 01:18] juvyc commented on #97
Maybe Is because of this logged error on the server?

[code]

Please help how to fix it if this is the reason.

Thanks!

[2016-12-23 01:15] thearabbit commented on #96
Thanks for your reply.
I tried but it don't reactive data when I add new, update or delete.

[2016-12-24 05:05] theodorDiaconu commented on #97
@juvyc the error states clearly *Error: Redis connection to 104.197.33.159:3000 failed*

you don't have redis opened there :)

[2016-12-24 05:05] #97 closed

[2016-12-28 11:02] theodorDiaconu commented on #89
@ramezrafla their local collection of the element is something we don't have access to... I believe it's good to have these errors, is there any work-around you can do to this ?

[2016-12-28 11:19] theodorDiaconu commented on #88
If we do that by default it can create a lot of confusion I believe.. because on one client you end-up with some data, on another one that joins in afterwards with other data. I believe specifying it not to store it makes more sense.

[2016-12-28 12:18] #92 closed

[2016-12-28 12:18] #95 closed

[2016-12-28 12:18] #91 closed

[2016-12-28 12:18] theodorDiaconu commented on #87
added a mention for now on README.md, we all use collection2, if not, we should.

[2016-12-28 12:18] #87 closed

[2016-12-28 16:10] ramezrafla commented on #89
@theodorDiaconu, this error is at the server level. It's trying to send a non-existent _id. It could be argued that it's the developer's fault for trying to push a non-existent doc. The original Meteor / Mongo pub would silently ignore it. So it's a change of behavior. Regardless of what you decide to do, I am ok with it remaining as-is, it just litters the logs and delays publication.

**Importan

[2016-12-28 16:13] ramezrafla commented on #88
I expect you will have a problem either way. On the server side, there will not be a consistency of data across the different instances. On the client, you MAY not have an inconsistency as well.

My idea was to make the SyntheticMutator a publish-only tool. Only to be used when you don't care about data persistence. Your example in the Readme relates to showing when someone typing in a chat box, w

[2016-12-28 16:13] theodorDiaconu commented on #89
@ramezrafla if you could provide a reproduction repo for this I will be more than happy to solve it, reason is I don't know how to reproduce this.

[2016-12-29 05:59] theodorDiaconu opened #98 "Issue with ostrio:files package (No support for callbacks, that's why)"
https://github.com/afruth/redis-oplog-files-repro-repo

[2016-12-29 15:25] theodorDiaconu opened #100 "Race-condition that can rarely happen"
http://mongodb.github.io/node-mongodb-native/api-generated/collection.html#findandmodify

Update flow is this:
1. We first fetch the ids with {foo: false} (X ids)
2. We execute update
3. We send X messages to "collectionName" channel, and 1..X messages to "collectionName::_id" channel

If the insertion happens between 1 and 2. Redis will not notify the watchers that {bar: true}.

[2016-12-30 14:34] arthurtea opened #101 "Possible error of doc on namespace?"
In [this section](https://github.com/cult-of-coders/redis-oplog#namespacing), should
[code]
instead be this?:
[code]
Otherwise how the `.insert` knows about the 'company::' prefix?

[2017-01-03 07:18] theodorDiaconu commented on #101
@arthurtea that's the diff between namespace and channels. I don't know how to make it less confusing, but the need for namespace arises for multi-tenant systems.

If you use namespace then it autoprefixes the string/strings with collection name, in your case "users::"
[code]

Will push to users::company::companyId channel.

[2017-01-03 08:09] arthurtea commented on #101
Hi. But this is contrary to what the doc says here: https://github.com/cult-of-coders/redis-oplog#namespacing

The doc says that the collection name `users` will be _suffixed_, not prefixed:

[2017-01-03 09:15] theodorDiaconu commented on #101
@arthurtea it's written badly. will fix!

[2017-01-04 13:30] nadeemja opened #102 "Would it work with Asteroid DDP Client?"
Hi,

Quick question.

Would this in anyway interfere with the Asteroid DDP Client?

https://github.com/mondora/asteroid

[2017-01-04 14:31] theodorDiaconu commented on #102
@nadeemja yes. since it is fully backwards compatible, from a "client" perspective it is the same.

[2017-01-04 14:31] #102 closed

[2017-01-09 00:38] juvyc opened #103 "Cause of empty list view after update is IP and PORT issue?"
Hi,

I've a weird issue integrating of this add-on on our meteor app. I think I've configured the IP and PORT correctly because at first I got a logs regarding the Publication and Subcription and no error. However, when I tried to update the data from the list view we have on the front end, the list got empty, it removes all data. Then... after a couple of minutes (I think 2-3 minuts) it displays

[2017-01-09 01:14] ramezrafla commented on #103
Did you turn on debug mode in redis-oplog?

[2017-01-09 01:26] juvyc commented on #103
Yes I did. Seems like the refresh time takes to 2-3 minutes?

[2017-01-09 01:40] ramezrafla commented on #103
It shouldn't, it's almost real-time. Maybe you can monitor from the command line to see if redis server is having issues.
```redis-cli monitor```

[2017-01-09 02:44] juvyc commented on #103
I'm running that and it says...

`Could not connect to Redis at 127.0.0.1:6379: Connection refused`

Is it necessarily to work that IP and PORT on the server? Because on the codes I'm using different IP and PORT, it is 104.197.33.159:3000

:-(

[2017-01-09 05:29] juvyc commented on #103
Here's on how I configured it.

[code]

I'm not sure what else need to do to make it working.

[2017-01-09 05:29] ramezrafla commented on #103
Please look at the options for redis-cli to connect to the right redis server. Also, are you sure port 3000 is for redis? Aren't you developing on the standard port 3000 of meteor, and the default port of redis is 6379 (as per the error your are getting). You may want to go through the redis walkthrough first.

[2017-01-09 05:35] ramezrafla commented on #103
You need to make sure redis is working as expected. e.g. telnet to the redis server and see if it responds. Use redis-cli as above to connect to it. Until that step is done, we can't confirm that the bug is from redis-oplog.

[2017-01-09 05:38] juvyc commented on #103
I used '6379' port but still got the same issue. Let me try your suggestion using 'redis-cli'. Will post here the update.

[2017-01-09 05:45] juvyc commented on #103
Ok how do I check if the port is for redis or not? And the IP should be the same with the IP of my domain name?

I have a feeling that this is the issue.

Thanks!

[2017-01-09 23:47] juvyc commented on #103
I've fixed it, I need to run on different port. So I have to do:

`echo "port 4000" | redis-server -`

Thanks for the help anyway. :-)

[2017-01-09 23:47] #103 closed

[2017-01-10 00:24] ramezrafla commented on #103
Right, your problem was not related to redis-oplog, this is why I directed you to resources that help you debug redis itself. Happy it was useful. Make sure to secure your ports in production. Good luck!

[2017-01-12 02:44] raphaelarias opened #104 "Using Validated Publications with RedisOplog"
Hello, I'm sorry, I tried to find more info about it, but I couldn't.

Is it possible to use this package with the Validated Publications package?

Thank you very much,

[2017-01-12 12:55] theodorDiaconu commented on #104
@raphaelarias yes, did you try it ? we override the .publish function.
So validated publications would most likely use Meteor.publish
=> It should work.

Did you try it and it did not work ?

[2017-01-12 15:38] jamesgibson14 opened #105 "Error in 1.1.6 with Collection that has "connection: null""
Exception from sub meteor_autoupdate_clientVersions id fhm5Tp4pAMR8xeAut TypeError: Cannot read
property 'disableOplog' of undefined
  at packages/cultofcoders:redis-oplog/lib/utils/shouldPublicationBeWithPolling.js:11:29

https://github.com/meteor/meteor/blob/87681c8f166641c6c3e34958032a5a070aa2d11a/packages/autoupdate/autoupdate_server.js#L39

[2017-01-12 15:42] theodorDiaconu commented on #105
excellent catch

[2017-01-12 20:07] jamesgibson14 opened #106 "Error on 1.1.6 with { '$set': { 'passengers.2.phone': '5555551456' } }"
The update works and other meteor servers get the update just fine, but the server that made the changes comes back with a null value to the client. Maybe because it can't get the topLevelField, because of the array index?

[2017-01-13 07:14] thearabbit opened #107 "My "redis-oplog-test" repo don't work"
My [redis-oplog-test](https://github.com/thearabbit/redis-oplog-test) don't work.
(don't react data from pub/sub)
Please help me.

[2017-01-13 11:16] theodorDiaconu commented on #107
@thearabbit are you sure redis is opened, check redis-cli, are you sure it works ?

[2017-01-13 11:16] #104 closed

[2017-01-13 11:19] theodorDiaconu commented on #106
@jamesgibson14 very strange behavior, they should be acting the same.

[2017-01-13 11:49] thearabbit commented on #107
Redis is OK with `$ redis-server`.
It don't work for react/realtime.
When I refresh page, it can get data.

[2017-01-13 12:09] theodorDiaconu commented on #106
anyway it's fixed. still don't know why it worked on other instances :)

[2017-01-13 12:10] theodorDiaconu commented on #107
Do you have any errors ? Do you see any traffic to mongo ? What cursor you have ? What updates/changes are you making ?

[2017-01-13 12:56] thearabbit commented on #107
Don't get error. I try to `add and remove` data.
For example:
- the first time I click on `add message`one (in mongo have one record).
- but it don't show anything on browser
![image](https://cloud.githubusercontent.com/assets/4495160/21930598/77213b96-d9c9-11e6-8c16-a9ddbf3bfb86.png)

- And then I click on `refresh page`, it show
![image](https://cloud.githubusercontent.com/assets/4495160/2193075

[2017-01-13 12:57] thearabbit commented on #107
The cursor return when I refresh page in template helper
[code]

[2017-01-13 13:05] theodorDiaconu commented on #107
@thearabbit I don't see in your repo the functionality to add the message. If you do the insert from mongodb it won't work.

[2017-01-13 13:10] thearabbit commented on #107
I do in `client`.
[code]

[2017-01-13 14:07] #105 closed

[2017-01-13 14:07] #106 closed

[2017-01-13 15:58] jamesgibson14 commented on #106
Awesome, thanks you.

[2017-01-13 19:37] jamesgibson14 opened #108 "Another problem with the meteor_autoupdate_clientVersions collection"
Exception from sub meteor_autoupdate_clientVersions id G22dEfbMWhmP9pLqe TypeError: Cannot read
property 'selector' of undefined
at Object.Future.wait (/home/james/.meteor/packages/meteor-tool/.1.4.2_3.17tso1e++os.linux.x
86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:449:15)
 at [object Object]._.extend.runTask (packages/meteor.js:741:9)
  at

[2017-01-13 19:40] jamesgibson14 commented on #108
I have `overridePublishFunction: true` which is why this collection keep coming up.

[2017-01-14 08:13] maxnowack commented on #51
@theodorDiaconu this seems to be broken again in 1.1.6 :(

[2017-01-14 08:19] theodorDiaconu commented on #51
@maxnowack hmm, I did not actually test, but I kept the compensateLatency from 1.1.5. Will check. Should I look here https://github.com/maxnowack/meteor-redisoplog-latencycompensation ?

[2017-01-15 01:33] thearabbit commented on #107
Have any solve for me.

[2017-01-15 09:11] theodorDiaconu commented on #107
I will check it out, no worries.

[2017-01-15 09:11] theodorDiaconu commented on #108
@jamesgibson14 ok got it!

[2017-01-15 09:12] #100 closed

[2017-01-15 09:12] #98 closed

[2017-01-15 09:12] theodorDiaconu commented on #89
until I don't have a way to reproduce it, can't keep it open

[2017-01-15 09:12] #89 closed

[2017-01-16 09:02] ramezrafla commented on #88
Based on conversation with @theodorDiaconu this does not seem possible as mergebox is in charge of data consistency. Thanks Theo for checking it out! Closing ...

[2017-01-16 09:02] #88 closed

[2017-01-16 09:24] ramezrafla opened #110 "Error: Reactive publication bug"
`Exception in queued task: Error: Removed nonexistent document TPsFhHaknugJSyzZM
    at SessionCollectionView.removed (packages/ddp-server/livedata_server.js:202:17)
    at Session.removed (packages/ddp-server/livedata_server.js:391:10)
    at Subscription.removed (packages/ddp-server/livedata_server.js:1273:19)
    at Object.removed (packages/mongo/collection.js:352:11)
    at Object.removed (pac

[2017-01-16 20:20] jamesgibson14 opened #111 "Strange issue on client with live data (Optimistic UI)."
Field1 = 'aaa'
When I run `Collection.update(id, {$set:{field1: 'bbb'}})` on the client the screen changes right away, then the method comes back from the server the the update was successful but, this line of code gets run:
https://github.com/meteor/meteor/blob/devel/packages/ddp-client/livedata_connection.js#L1452
which causes field1 to go back to 'aaa', then it switches to the new 'bbb', so the

[2017-01-17 09:57] theodorDiaconu commented on #111
@jamesgibson14 good find, this is because somehow optimistic UI got broke. will solve this

[2017-01-17 09:59] theodorDiaconu commented on #110
maybe a race-condition happening ?

[2017-01-17 13:15] ramezrafla commented on #110
Any ideas what steps to debug this is what is happening?

[2017-01-17 13:21] maxnowack commented on #51
@theodorDiaconu yes, I've just updated the repo to the latest version of redis-oplog

[2017-01-17 13:33] theodorDiaconu commented on #110
use redis debug true

[2017-01-17 14:02] ramezrafla commented on #110
I traced it down to a race condition from a publish autorun (triggers a bug I raised before about non-existent element)

Here is the simplified publish
[code]

So when we remove the object from the collection THEN we remove it from the user's `profile.content`, we get these errors (there is a race-condition where `profile.content` has id's that are NOT in the collection).

We can get around it by

[2017-01-17 14:08] ramezrafla commented on #110
Race condition still persists sometimes after we alter `profile.content` first, strange .. but it's perceivable that the order of the changes can be out of sync when the reactive publish is triggered

[2017-01-17 15:07] jamesgibson14 commented on #111
On Tue, Jan 17, 2017 at 2:57 AM, Theodor Diaconu <notifications@github.com>
wrote:

Awesome, thank you.

[2017-01-18 08:48] maxnowack commented on #51
@theodorDiaconu please reopen this issue. I'll try to write some tests for this case

[2017-01-19 14:27] theodorDiaconu opened #113 "Make sure it works with null publications and write tests"

[2017-01-19 14:33] ramezrafla commented on #110
To properly document this issue in case someone else faces this, we created a repo to show how reactive publishing has issues with redis-oplog

https://github.com/ramezrafla/redisoplog-autorun-bug

[2017-01-19 14:34] theodorDiaconu commented on #101
got fixed

[2017-01-19 14:34] #101 closed

[2017-01-19 14:43] ClaudiuRoman opened #114 "Bug updating a reactive variable"
I'm subscribing to "self", a publication (it has publishComposite) which fetches current user information. We have a template in Blaze, which basically returns the template based on a field from reactive variable.

The value from the reactive variable is going to be changed in a method call. The value it's getting changed in the database but if I type Meteor.user() and check for the field that was

[2017-01-19 14:48] ClaudiuRoman opened #115 "Issue found when uploading"
When I try to upload an image, I receive the following exception:

For uploading, I'm using Dropzone
Meteor version: 1.4.2.3
Template Engine: Blaze

[2017-01-19 23:46] ramezrafla commented on #114
This is likely similar to issue #110

[2017-01-20 12:44] nadeemja opened #116 "Is Redis Cache Mode recommended?"
Hi,

Do you recommend enable Cache Mode for Redis when using redis-oplog?

https://help.compose.com/docs/redis-cache-and-storage-modes

[2017-01-20 15:58] nadeemja opened #117 "How to use with publishComposite without override: true?"
Hello,

Any way to make a publishComposite publication into publishWithRedis without using the override?

[2017-01-20 16:04] nadeemja opened #118 "«Exception from task: TypeError: Cannot read property 'selector' of undefined»"
Hi,

Using the latest version as of now.
This error occurs on localhost, but only if debug: false.

[Main] New incomming subscription for publication: meteor_autoupdate_clientVersions
I20170120-17:01:18.242(1)? Exception from task: TypeError: Cannot read property 'selector' of undefined
I20170120-17:01:18.242(1)?     at PublicationFactory.getPublicationId (packages/cultofcoders:redis-oplog/lib/cac

[2017-01-20 16:10] nadeemja commented on #118
PS.

Just adding this package (properly configured, but override:false) cause the above error.

[2017-01-20 16:16] nadeemja commented on #118
Tested with 1.1.5 which works perfectly. Only 1.1.6 is problematic.

[2017-01-20 16:31] nadeemja commented on #118
Also getting this client side with 1.1.6
[localhost-1484929790219.txt](https://github.com/cult-of-coders/redis-oplog/files/719899/localhost-1484929790219.txt)

[2017-01-20 17:07] nadeemja opened #119 "Reactivity lost when using Meteor.call() to change document"

[2017-01-21 08:07] theodorDiaconu commented on #117
We override "observeChanges", therefore, it should work.

[2017-01-21 08:07] #117 closed

[2017-01-21 08:07] theodorDiaconu commented on #116
no cache mode, we use pub/sub from redis only, no storage yet.

[2017-01-21 08:07] #116 closed

[2017-01-21 09:10] nadeemja commented on #116
So it does not matter which mode it is set to?

[2017-01-21 09:11] nadeemja commented on #117
I'm sorry, I did not understand you.

Do you mean that I can simply rewrite Meteor.publishComposite({...}) into Meteor.publishWithRedis({...}) without changing whats inside {...} when "override: false" ?

[2017-01-23 07:39] theodorDiaconu commented on #118
Thanks! Will take care

[2017-01-23 07:40] theodorDiaconu commented on #115
@ClaudiuRoman what is the collection are you subscribing to ? It is not related to frontend

[2017-01-23 07:41] theodorDiaconu commented on #114
Maybe it's related to users collection, did not write any tests on that.

[2017-01-23 07:42] theodorDiaconu commented on #119
@nadeemja pls tell us how does your call look like, and how your publication looks like.

[2017-01-23 22:31] nadeemja commented on #119
__Method__
[code]

[code]

[code]

[2017-01-24 05:51] srinag63 opened #120 "Meteor.Publish is not working"
When im trying to do pub sub using **Meteor.publish** with **"overridePublishFunction": false**, In the server i'm getting Exception from task: TypeError: Cannot read property 'selector' of undefined attached is the error in client
![screenshot from 2017-01-24 11-16-44](https://cloud.githubusercontent.com/assets/3824505/22235721/447c1966-e227-11e6-84c3-31e84c2be7f0.png)

[2017-01-25 13:14] theodorDiaconu commented on #120
@srinag63 thanks, will investigate.

[2017-01-25 13:14] theodorDiaconu commented on #119
@nadeemja thank you, will investigate.

[2017-01-25 13:48] theodorDiaconu commented on #120
Duplicate of #108

[2017-01-25 13:48] #120 closed

[2017-01-25 14:53] theodorDiaconu commented on #110
@ramezrafla tried your repo, called 'remove' from client-side a gazilion times. I could not get it to trigger on my end, anything special ?

[2017-01-25 14:54] theodorDiaconu commented on #114
@ClaudiuRoman give us the publication, how it looks, what fields you have, and the update function, so we can write a test

[2017-01-25 14:59] ramezrafla commented on #110
Should work out of the box - I am on the road will try it again tonight. No server or client logs?

[2017-01-25 15:04] theodorDiaconu commented on #110
nothing, just redis debug, using 1.1.6

[2017-01-25 15:04] ramezrafla commented on #110
Just relooked at the repo code - super simple method in server/main.js -- can't imagine what is wrong

[2017-01-25 15:10] theodorDiaconu commented on #110
@ramezrafla it tells me "Method remove called", but exception isn't triggering

[2017-01-25 17:07] theodorDiaconu commented on #119
@nadeemja is your method optimistic ? do you execute it on client as well ?

[2017-01-25 17:43] nadeemja commented on #119
No, but I'll try with optimistic ui too :)

[2017-01-25 20:04] ramezrafla commented on #110
There is no exception. It's a bug in output. I detailed in the repo readme. Is it not clear?

[2017-01-26 06:29] theodorDiaconu commented on #110
@ramezrafla apologies, I only assumed it's for triggering exceptions, did not look at the readme, which indeed is very well explained. will investigate and solve today. thank you

[2017-01-26 06:30] theodorDiaconu commented on #119
The issue is with publishComposite, I am now writing tests, because multiple people have the same problems.

[2017-01-26 07:49] theodorDiaconu commented on #110
![screenshot from 2017-01-26 09-47-49](https://cloud.githubusercontent.com/assets/1814863/22323600/a9e22e22-e3ac-11e6-9998-e4047acde183.png)

[2017-01-26 07:50] theodorDiaconu commented on #119
This issue has been addressed and will be fixed in 1.1.7

[2017-01-26 07:52] #108 closed

[2017-01-26 07:52] #110 closed

[2017-01-26 07:52] #114 closed

[2017-01-26 07:52] #119 closed

[2017-01-26 07:52] theodorDiaconu commented on #118
Fixed in 1.1.7

[2017-01-26 07:52] #118 closed

[2017-01-26 07:53] theodorDiaconu commented on #107
worked fine for me.

[2017-01-26 07:53] theodorDiaconu commented on #111
solved in 1.1.7

[2017-01-26 07:53] #111 closed

[2017-01-26 07:54] theodorDiaconu commented on #51
it makes sense yes. it was an easy fix, but I have no idea how to test this.

[2017-01-26 07:54] #51 closed

[2017-01-26 07:54] theodorDiaconu commented on #115
@ClaudiuRoman check with 1.1.7 if you still have issues with this.

[2017-01-26 07:54] #115 closed

[2017-01-26 07:55] #113 closed

[2017-01-26 07:58] ramezrafla commented on #110
Beautiful! You are the best! Will test ASAP.

[2017-01-26 23:55] ramezrafla opened #122 "Error: Could not find element with id <> to change"
[code]

Here is what is happening: we have removed the document with id above (DRvHgfyEF6HEFBep8) from the publication cursor - the doc still exists in the collection, but is no longer sent to this client, due to reactive change (using this.autorun in the publication)

[2017-01-27 08:18] thearabbit commented on #107
Thanks for your reply.
Could you check the [`redis-oplog-test`](https://github.com/thearabbit/redis-oplog-test) agin? It still don't work.
Or have any `example repo`?
Please help me.

[2017-01-27 09:05] theodorDiaconu commented on #122
This autorunning gives us a lot of headache :( I think the solution lies in understanding fully how it works. Like I did for publish composite.

[2017-01-27 09:09] theodorDiaconu commented on #107
@thearabbit try again with a new repo, put redis-oplog, make sure 100% you have redis running on the configured port. I think that's the issue here. You do not have redis running ?

[2017-01-27 09:19] ramezrafla commented on #122
Feel bad ... I could spend the team to understand it better and we could have a call to brainstorm?

[2017-01-27 09:27] theodorDiaconu commented on #122
That would be great, here is what the error means:

It means that somehow by other means, the document has been removed from the publication without that event going through ObservableCollection.

Either that or a race-condition, somehow, I have no idea how:
1. Update -> check if it exists, and returns true
2. Executed Document removal
3. Change event sent to the publication -> error.

Question is

[2017-01-27 10:16] thearabbit commented on #107
could you see this [gif](http://recordit.co/x5LEac6cPw)?

[2017-01-27 10:37] theodorDiaconu commented on #107
@thearabbit that is so weird. your redis isn't receiving anything... I will take a look again.

[2017-01-27 12:52] thearabbit commented on #107
Thanks again, waiting you...

[2017-01-27 12:53] nadeemja opened #123 "Request: Detailed example of Synthetic Mutations "(somebody is typing a reply)""
Hi,

I love the idea of Synthetics mutation, but I'm not quite sure I see how to use them.

For example, I have two collections: Questions and Comments. A Comments document would have two fields: questionId and body.

In a list of questions, how would I mark a specific question with "being answered right now"?

[2017-01-30 09:10] theodorDiaconu opened #124 "Optimistic UI Improvements"
Optimistic UI should work much like a synthetic processor.

Optimistic UI should only work with the current observer, not push the changes to all of them.

Refactoring strategy:
We should allow triggering optimistic-ui changes only to the current observer, or somehow use the optimistic UI from Meteor

[2017-01-31 11:34] maxnowack opened #125 "TypeError: Cannot read property 'length' of undefined"
I've seen an exception in my server logs. I'm not sure where it's coming from.

[code]

[2017-01-31 11:40] maxnowack opened #126 "App doesn't start if redis-server isn't reachable"
I'm not sure if this is a good behavior. I think a fallback to long polling would be better.

[2017-01-31 13:55] theodorDiaconu commented on #126
Hmm, good thinking @maxnowack . We'll add.

[2017-02-09 21:52] clayne11 opened #127 "Doesn't respect Mongo "transform" functions"
The default Meteor implementation of Mongo.Collection allows you to pass a `transform` function to transform the outputted document. `redis-oplog` doesn't seem to support this property.

[code]

[2017-02-10 06:02] clayne11 opened #128 "Issues with peerlibrary:reactive-publish"
I'm using `peerlibrary:reactive-publish` in my app and I'm having some issues with `redis-oplog`. Certain publications are causing stack overflows on the server when trying to recompute the query.

It's causing the following error:

[code]

[2017-02-11 13:24] JanMP commented on #107
After having similar problems with my own project, I tried thearabbit's repo. It does not work for me either. Redis is definitely working and on the right port (redis-cli works fine and the prompt reads 127.0.0.1:6379> ). Also, when quit the redis server the app will crash. So it can't be a missing redis that's causing the problems, right?

And the problem is not in any other parts of thearabbit's

[2017-02-13 13:54] ramezrafla commented on #124
@theodorDiaconu I noticed that changes seem to flicker until the server makes the final call. Is that what you see too?

[2017-02-13 13:55] ramezrafla commented on #128
I faced issues too with reactive-publish, seems there is a race condition somewhere due to reactivity. But that may not be the issue you are facing.

[2017-02-13 14:16] theodorDiaconu commented on #124
@ramezrafla it shouldn't be the case with the latest version. Maybe you have a diff use-case?

[2017-02-13 16:36] ramezrafla commented on #124
@theodorDiaconu I just checked the frames of the WS in the dev console, with or without redis-oplog the frames look exactly the same. It only happens when deployed on server (i.e. not on dev with meteor run)

Yet .. the flickering only happens with redis-oplog in production (likely network latency makes it apparent). It's likely an issue on our side, in Blaze, or yet another edge case. I can't deb

[2017-02-13 18:26] theodorDiaconu commented on #124
@ramezrafla can you paste the frames in prod ?

[2017-02-14 10:02] theodorDiaconu opened #129 "Ability to disable optimistic-ui by configuration"

[2017-02-14 10:08] theodorDiaconu commented on #128
@clayne11 I need a reproduction repo please!

[2017-02-14 10:08] theodorDiaconu commented on #127
I'll write a test for it and fix it.

[2017-02-14 10:09] theodorDiaconu commented on #123
Good idea, we will be doing that soon. Will keep this issue opened and push updates here.

[2017-02-14 11:23] theodorDiaconu commented on #128
@clayne11 by any chance you are using transform somewhere ? Because I remember a similar issue a while back

[2017-02-14 12:00] nadeemja commented on #123
Awesome, Theodor. I appreciate it very much! :)

PS. One of our clients are requesting the "somebody is typing" functionality with some sense of urgency. Please let me know if I could pay some fee to push this higher up on your priorities list.

[2017-02-14 13:51] clayne11 commented on #128
Yes I use transform in a lot of places. Do you think that's causing the
problem?

On Tue, Feb 14, 2017, 06:23 Theodor Diaconu <notifications@github.com>
wrote:

[2017-02-15 07:07] theodorDiaconu commented on #128
@clayne11 can you show me what triggers it ?

[2017-02-16 12:06] Fen747 opened #130 "MeteorToys + Redis-oplog throw this error"
Using redis-oplog in the same project than meteor toys Pro, after I did a `meteor update` from 1.4.2.3 to 1.4.2.7 (and almost all the packages in my app), I now get this when I start my app :

[code]

`versions` file before the update (1.4.2.3) : http://pastebin.com/CR9MxWhC
`versions` file after the update (1.4.2.7) : http://pastebin.com/8vuKXyHM

[2017-02-24 15:53] dnish opened #131 "$unset not working?"
I'm having a server side method with the following code:

[code]

The problem is that redis-oplog doesn't reflect that change, <code>profile.isTyping</code> is still available on the client side. redis-oplog sets it to null instead of removing it.

So I I do this on the client side:

     Meteor.users.findOne(this.foreignUser()).profile.hasOwnProperty('isTyping')

I will get always true, because t

[2017-02-24 16:17] dnish commented on #131
Okay, it seems like the update isn'r reflected on the client. <code>profile.isTyping</code> is set to 1, even if it was unset and the debugger showed an update for this user.

[2017-02-28 18:14] theodorDiaconu commented on #131
@dnish what would help me a lot would be a reproduction repo

We already have a passing test for $unset:
https://github.com/cult-of-coders/redis-oplog/blob/master/testing/main.client.js#L964

[2017-03-01 04:56] theodorDiaconu commented on #128
ping @clayne11

[2017-03-01 19:04] dnish commented on #131
@theodorDiaconu I guess the problem is not <code>$unset</code>. I've tried it by doing <code>$set:{'profile.isTyping':false}</code>. The change isn't reflected at the other user, the user object has still the old value (<code>profile.isTyping:true</code> - checked via console). But redis-oplog logs the change on the server side (debug:true).

I'll check if I can reproduce it within a new repo, but

[2017-03-02 15:58] dnish commented on #131
@theodorDiaconu I've created a repo here: https://github.com/dnish/redis-oplog-issue

How to reproduce:

1. Open 2 windows (one in private mode to simulate 2 clients)
2. Create a account in each window and connect to the others user id
3. Start typing. You should see a "Is typing" message on the other side.
4. Stop typing, after 5 seconds the timeout should fire and the message will be hidden.
5.

[2017-03-03 08:03] theodorDiaconu commented on #131
@dnish thank you for your detailed information. I have enough information to fix.

[2017-03-08 13:36] Jarskih opened #133 "Conflicting data when using $addToSet and $pull"
I have simple block helper when using Blaze:

[code]

And when user calls Method to like the **post** their **id** will be added to array using **$addToSet**.
I expect template to change from **not_liked** to **liked**

What happens instead is that the helper changes back and forth and causes the templates to change couple of times before settling to **not_liked** or **liked** template.

From cons

[2017-03-15 04:22] rajpa commented on #133
hi @Jarskih

does this problem still exist. were you able to reproduce?

thanks/rajpa

[2017-03-15 09:59] theodorDiaconu commented on #133
@Jarskih @rajpa  I am sure this is related to optimistic-ui. Will look into it.

[2017-03-15 10:40] rajpa commented on #133
@theodorDiaconu i am thinking it maybe because of the way addToSet works. an element is added to the array if and only if it does not exist in the set already. redis/oplog may need to do an additional check to see if the element is in the array already. just my guess

thanks/rajpa

[2017-03-15 12:08] theodorDiaconu commented on #131
Oh my god. After squeezing my brains for 2 hours on this one I found it. When I'm overriding observeChanges I need to pass in a clone, not an object. Bc if I pass it as reference, publishComposite does not detect any changes here:

https://github.com/englue/meteor-publish-composite/blob/master/lib/subscription.js#L66

Nice bug.
Solved.

[2017-03-15 12:14] theodorDiaconu commented on #127
Weird, my tests are passing.

[2017-03-15 12:14] theodorDiaconu commented on #128
@clayne11 in absense of your response I will close this.

[2017-03-15 12:14] #128 closed

[2017-03-15 12:22] theodorDiaconu commented on #125
Most likely a malformed options.fields. Made it throw an exception if could not properly extract fields.

[2017-03-15 12:28] theodorDiaconu commented on #133
@rajpa it's not that. I've written tests. I think he was not on the latest version ? My tests are passing and no flickers are caused. @Jarskih I need exact state of the document, and the updates you are doing. Otherwise I'm going to close this, since tests are passing.

[2017-03-15 12:28] theodorDiaconu commented on #129
Bad idea :)

[2017-03-15 12:28] #129 closed

[2017-03-15 13:50] theodorDiaconu commented on #130
@Fen747 just add redis-oplog before MeteorToys because it needs to load a package that is aware of all collections.

[2017-03-15 13:50] theodorDiaconu commented on #130
dburles:mongo-collection-instances@0.3.5
this package :)

[2017-03-15 13:50] #130 closed

[2017-03-15 14:37] #126 closed

[2017-03-15 14:37] #125 closed

[2017-03-15 14:37] #131 closed

[2017-03-15 14:38] theodorDiaconu commented on #133
This should be fixed in 1.1.8 reopen if it isn't. Thanks

[2017-03-15 14:38] #133 closed

[2017-03-15 14:38] theodorDiaconu commented on #127
Please give me more details and I will fix. Thanks

[2017-03-15 14:38] #127 closed

[2017-03-15 14:46] theodorDiaconu commented on #107
@JanMP @thearabbit
Sorry for delayed response.
Does not work with 'insecure'. If you put Collection.allow({ insert: () => true }); It will work.

Cheers.

Sorry but we cannot support insecure

[2017-03-15 14:46] #107 closed

[2017-03-15 14:47] theodorDiaconu commented on #124
Inside a mutation call.
Get the session of the current user.
Send events to the session.
[code]

[2017-03-15 14:48] theodorDiaconu commented on #122
@ramezrafla can you try it again with 1.1.8 I think I may have fixed it while I fixed something for publishComposite which was related to observeChanges which reactive-publish uses intensively. Pls re-open if that's not the case. Cheers!

[2017-03-15 14:48] #122 closed

[2017-03-15 14:49] theodorDiaconu commented on #123
[code]

[2017-03-15 14:49] #123 closed

[2017-03-15 19:20] theodorDiaconu opened #135 "Fix limit-sort processing strategy with negative fields"
- [ ] Write tests for negative fields processing
- [ ] Write tests for empty fields fields: {}, it should only show _id

[2017-03-16 01:26] thearabbit commented on #107
Thanks, I will try again soon.

[2017-03-16 01:54] thearabbit commented on #107
OK, now work fine.
👍

[2017-03-16 03:29] rajpa commented on #133
Super!  Thank you!

-- Rajesh Bhaskar

On Wed, Mar 15, 2017 at 8:08 PM, Theodor Diaconu <notifications@github.com>
wrote:

[2017-03-16 08:35] Jarskih commented on #133
I can confirm it still happens on my app with newest version. I tried to reproduce by creating new meteor app with this package and using $addToSet the same way. Unfortunately I could not see the same behavior this time.
Do you think it might be caused by incompatibility of this package and some of the packages my app uses. I am currently using https://github.com/chatr/redpubsub for redis and I do

[2017-03-16 14:49] theodorDiaconu commented on #133
@Jarskih I think I know what the issue is, I had it also. I'm now working on some things, but checkout this branch: https://github.com/cult-of-coders/redis-oplog/pull/136

[2017-03-18 01:01] dnish commented on #124
@theodorDiaconu Just wondering if this issue explains the behavior within our app. We're having 1 method which is defined separately on client and server. For example, this is client side:

client/methods.js

    changeChat: function () {

        Meteor.users.update(Meteor.userId(),{$unset:{'profile.chatId':''}});
    }

server/methods.js

    changeChat: function () {

        [...server logic w

[2017-03-18 08:54] theodorDiaconu commented on #124
@dnish yes, it's optimistic-ui related. try out the new PR to see if it still occurs.

[2017-03-18 21:13] dnish opened #137 "Different behavior with reactive sources"
We've recognized a behavior which is different to the normal one with Meteors live data system when we use a reactive source.

We're using ViewModel within our app and defined the following functions:

[code]

At the same time, we sending a ping to the server every 20 seconds. Now we have the following problem: The last autorun is fired every 20 seconds, when the <code>Meteor.user()</code> object

[2017-03-18 21:23] dnish commented on #137
Just checked it also with a Tracker.autorun within my browser console:

    Tracker.autorun(function() { console.log(Meteor.user());});

Fires every 20 seconds with <code>redis-oplog</code>. Without it, it fires only once.

[2017-03-19 11:07] dnish opened #138 "Exception in callback of async function: TypeError: callback is not a function"
Hey,
having an issue with using settings like pushToRedis while executing a remove command. We using it server only for a cron job:

    Messages.remove({userId: id}, {pushToRedis: false});

In dev mode this gives me an:

    Exception in callback of async function: TypeError: callback is not a function

On production we get:

    Exception in callback of async function: RangeError: attempt to wri

[2017-03-19 11:16] dnish commented on #138
Okay, the error on the client side was my mistake (redis-oplog wasn't initialized), but we still have the issue on the production server. This is the full message:

[code]

Cronjob:

    //Deleting old users

    let d = new Date();
    d.setDate(d.getDate() - 30); //Delete after 30 days inactivity

    let users = Meteor.users.find({'status.lastPing': {$lt: d}}).fetch();
    let userIds = _.pluck

[2017-03-20 07:19] theodorDiaconu commented on #137
@dnish can you do a quick reproduction repo ? Cheers

[2017-03-20 07:23] theodorDiaconu commented on #138
@dnish
https://docs.mongodb.com/manual/reference/limits/

It is most likely related to this. I think I know whatsup. When pushToRedis is false, we should default to main behavior. Currently if we do a large remove, first we search them all, then do some stuff... That is the problem here for sure. Great find!

[2017-03-20 14:56] dnish commented on #137
@theodorDiaconu Yeah, I've created a repo:

https://github.com/dnish/redis-oplog-issue-reactivity

Steps:

1. Open browser console. You should just see 1 "received ping" message, because the updated field <code>updatedAt</code> isn't published.
2. Uncomment <code>RedisOplog.init();</code> within server/main.js
3. Refresh the browser - now you should get every 5 seconds a ping message within consol

[2017-03-20 17:51] theodorDiaconu commented on #137
@dnish thank you very much, will solve it.

[2017-03-21 04:17] theodorDiaconu commented on #138
Fixed both issues. The one with: `Exception in callback of async function: TypeError: callback is not a function` and the limits one in the new PR.

[2017-03-21 07:07] theodorDiaconu opened #139 "When it reconnects to the redis, requery all observers"
## Problem

If the connection to redis fails for some reason network/hardware, and it's down for 30 seconds for example, the changes that happened in that down-time will not be visible by clients.

## Solution

When redis connection resumes, requery all observableCollections and store the up to date data.

[2017-03-21 08:19] theodorDiaconu opened #140 "Expose a way to listen to redis messages (?)"
That's it only which fields change, that's it, no store.

[2017-03-21 09:01] dnish commented on #138
@theodorDiaconu Yep, can confirm. Both issues are fixed. Thank you very much ☺️

[2017-03-21 09:42] dnish commented on #138
Okay, our app started flickering without using optimistic ui (if a user sends a message, the message if flickering). I'll check out what's going on.

[2017-03-21 09:46] dnish commented on #138
Just added a find within Tracker again:

    Tracker.autorun(function() { Messages.find({}).fetch(); console.log('New data');});

Added a new message:

1. Without redis-oplog: 2x executed per new message
2. With redis-oplog: 3x executed per new message

Something seems to be still wrong. I'm using latest 1.2 build.

[2017-03-21 11:10] dnish opened #141 "[Possibly fixed in 1.2-beta] Exception in queued task"
Hey,
don't know what causes this issue, but our logs are full of such messages:

[code]

Because there are no timestamps in our PM2 logs, I can't see when they did happen. I'll report if I get such messages again with the current 1.2 config.

[2017-03-21 12:18] theodorDiaconu commented on #141
@dnish what kind of publication are you using ? publishComposite / reactive-publish ?

[2017-03-21 12:19] dnish commented on #141
I'm using publishComposite. For the moment, everything seems okay, I didn't get any new messages since the last deploy.

[2017-03-21 12:22] theodorDiaconu commented on #141
@dnish that problem with publishComposite was fixed in the PR branch... I remember I had the exact same issue as you did.

However, right now I'm working at some memory and cpu improvements and hooking into Meteor's internals for redis-oplog. I've read the code and I think I have the right info to properly hook this as a native observe driver. Still working on it.

[2017-03-21 13:12] theodorDiaconu commented on #141
@dnish now that you are using 1.2-beta, do you still see increase in CPU ? Do you have "disable-oplog" package added?

[2017-03-21 13:14] dnish commented on #141
@theodorDiaconu CPU seems to be normal at 23% with 114 connected clients (before it was about 35-40%).

[2017-03-21 14:24] #94 closed

[2017-03-21 14:24] #124 closed

[2017-03-21 14:24] #135 closed

[2017-03-21 14:24] #137 closed

[2017-03-21 14:24] #138 closed

[2017-03-21 14:29] theodorDiaconu commented on #141
@dnish ok, perfect, yes, sorry for that, optimistic-ui eats time for computing changes before it resolves. Maybe we'll find a better way to fix it.

But currently as you put it. Redis-Oplog currently does not offer a real advantage, correct?

[2017-03-21 14:31] theodorDiaconu commented on #141
@dnish if you use publish-composite I made a package that boosts the speed of optimistic-ui dramatically: https://github.com/cult-of-coders/redis-oplog/blob/master/docs/optimistic_ui.md

[2017-03-21 14:38] dnish commented on #141
@theodorDiaconu Nope, it does. We had a big issue with the bulk removes, they "killed" one of our app instances most of the time we've started the job. The instance started to eat a lot of CPU and the loop delay increased up to 25ms, while the app began to lag on the user side. I guess this happened because of the remve oplog notifications. I hope that redis-oplog solves this issue, because we are

[2017-03-21 14:46] theodorDiaconu opened #142 "When updating based on _id, don't fetch it."
Improve performance by avoiding a fetch for the most common type of update.

[2017-03-21 15:07] theodorDiaconu opened #143 "Small Improvements"
- [x] Remove cloneDeep dependency and replace with EJSON.clone()

- [x] use https://github.com/peerlibrary/meteor-publish-context instead of overriding publish-composite for optimistic-ui

- [ ] change overriding of observeChanges: https://github.com/peerlibrary/meteor-reactive-mongo/blob/master/server.coffee#L1 like this

[2017-03-21 15:14] theodorDiaconu commented on #141
@dnish this is very cool. I'm glad. I'm gonna close this issue, unless it happens again, and if it does, I will try to catch wrap the error, so we have an idea of what collection it is and what publication and maybe dump the store so we see exactly whatsup

[2017-03-21 15:14] #141 closed

[2017-03-22 09:03] theodorDiaconu commented on #138
@dnish

Ok, so optimistic-ui will have a small increase to your method response times but it makes sense, let me explain what meteor does to achieve optimistic-ui:

1. Does the mutation in the local collection of the client
2. Sends call to the server to do it in the real database
3. Before the method returns, the server needs to send the correct events based on publication like "changed","added",

[2017-03-22 09:06] theodorDiaconu commented on #138
Optimistic-UI in a sense implies the fact that you would like to wait longer for the server, so that you can have instant updates on UI. In your server-side method, I wouldn't forget to put "this.unblock()" so other methods can still be executed in paralel.

[2017-03-24 14:32] dnish commented on #138
Oh okay, I've thought that the server only needs to send back the result like in a server only method and the client is responsible to merge/check the server result.

[2017-03-30 05:06] theodorDiaconu opened #144 "Deploying with MUP while you are on the host."
It will start refreshing like crazy. Do not know if redis-oplog related, but it started happening after redis-oplog was installed.

[2017-04-03 17:13] clayne11 opened #145 "[Exception] Removed nonexistent document"
[code]

[2017-04-03 17:23] evolross commented on #145
FWIW, I get this same exception too (and many others), but I haven't started using `redis-oplog` yet.  From my research it has something to do with one of the following:

1. Multiple subscriptions publishing the same document(s). Then when one is removed, the first publication's `this.removed` fires, then the other publication throws this error because when its `this.removed` callback fires, the d

[2017-04-06 06:33] rajpa commented on #144
Did you install meteorhacks cluster package? Sometimes happens with that package...

[2017-04-06 20:09] ramezrafla commented on #145
It likely relates to `mongo/extendObserveChanges` with reactive publications where `removed` gets called multiple times. I tried adding a `try / catch` around the offending section and that messes up the subscription (data disappears from livedata). So it does seem like we need to break the call.

Somewhere in redis-oplog reactive publications call the change handlers more than once. Maybe we need

[2017-04-07 11:55] nadeemja opened #147 "Bug in 1.2.0 [Urgent]: Invalid event specified"
Hi!

I'm getting this error:

Error: [Invalid event specified: i]
    at module.export.exports.default (packages/cultofcoders:redis-oplog/lib/processors/direct.js:18:19)
    at RedisSubscriber.processSync (packages/cultofcoders:redis-oplog/lib/redis/RedisSubscriber.js:65:9)
    at packages/cultofcoders:redis-oplog/lib/mongo/lib/compensateForLatency.js:32:28
    at Array.forEach (native)
    at pac

[2017-04-07 12:20] nadeemja commented on #147
Please see this Kadira log:
https://ui.kadira.io/et/20ec634f-0c45-440e-a4f9-7c6a74b735dc/JZM5Li9QMezk3F9iZ

[2017-04-10 13:12] theodorDiaconu commented on #147
@nadeemja this is very weird, because direct processing happens only when you are querying for specific id's, so i ("INSERT") cannot be there, unless either there's a bug somewhere, or you hard-code the id when you enter it ?

Show me your publication please :)

[2017-04-10 13:14] theodorDiaconu commented on #145
@clayne11 I need to reproduce this and I will find a fix. I believe it can be easily solved by interogating the user's collectionView and check for those docs before calling remove, but then I ask myself, shouldn't this be default meteor behavior, why did they choose not to do it ?

[2017-04-10 13:54] nadeemja commented on #147
Hi @theodorDiaconu!

I have added you to my repo nadeemja/Sembly. The relevant publication is in _server/publications/questionsPublications.js

The relevant publication is this one:

    Meteor.publishComposite(
      'studentQuestionsForSchedule',
      function pubStudentQuestionsForSchedule(scheduleId, sortOptions) {
        check(scheduleId, String);
        check(sortOptions, {
          orde

[2017-04-10 18:14] theodorDiaconu commented on #147
@nadeemja ohh so you're using publishComposite, ok, i will find time in the next 2 days to solve this issue. cheers

[2017-04-10 18:16] evolross commented on #145
Here's the Meteor issue, which they closed, hence it not being addressed.  I guess this previously would actually crash your Meteor server, so they just added exception handling and closed it.

[https://github.com/meteor/meteor/issues/944](url)

[2017-04-12 07:27] nadeemja commented on #147
Thank you @theodorDiaconu :)

[2017-04-12 18:45] jamesgibson14 opened #148 "Optimistic option being overriden"
I tried to do a `Records.update({},{},{optimistic: false})` from the client but I believe it is getting overridden here:
https://github.com/cult-of-coders/redis-oplog/blob/master/lib/mongo/allow-deny/validatedUpdate.js#L120

[2017-04-12 21:34] theodorDiaconu commented on #148
@jamesgibson14 isn't that how it would be expected ? Can you tell me your use-case, why would you want it disabled ?

[2017-04-12 23:24] jamesgibson14 commented on #148
I though the optimistic option was there to toggle it on and off if needed, however line 120 make it always true.
My use case is: I want to use redis oplog, but if I turn off optimitic I get the flashing client screen, if I turn it on I get very very long method wait times, I am not sure what to do?

[2017-04-13 13:23] theodorDiaconu commented on #148
@jamesgibson14 you use publishComposites ? If yes, do you use our publish-composite ? https://github.com/cult-of-coders/redis-oplog/blob/master/docs/optimistic_ui.md

Which is publish-composite + 1 line of code to properly identify the subscriber

[2017-04-13 13:29] theodorDiaconu commented on #148
@jamesgibson14 in next big release I will eliminate this necessity, I already know how to solve this, without the necessity of a custom publish-composite package. But this will give you much much faster response times.

[2017-04-13 13:40] theodorDiaconu commented on #144
@rajpa no idea really, if I keep my browser open, and deploy in background, the browser goes crazy, i really have no clue

[2017-04-13 13:47] theodorDiaconu commented on #145
@clayne11 @evolross @ramezrafla
As glasser said:
"That's as designed. Each subscription represents a set of documents. If you want two separate sets that are merged together, use two separate subscriptions."

This error can happen with reactive-publish or publishComposite like this:
posts Many2Many tags

So basically for each post, you create a live-query for tags, so:
[code]

Now if **tag X** get

[2017-04-13 13:49] theodorDiaconu commented on #147
@nadeemja solved. check it with my new PR, you can just use that branch, tell me if it's solved, I still want to tackle other things for 1.2.1

[2017-04-13 14:27] jamesgibson14 commented on #148
I dont use the composite package, but i do use hooks and that seems to
affect it. Thank you for all the hard work you are doing on this.

On Apr 13, 2017 7:29 AM, "Theodor Diaconu" <notifications@github.com> wrote:

[2017-04-13 14:37] nadeemja commented on #147
Very nice, man! I'm going to test this in a day or two and let you know :)

Would love to hear your theory on why this was happening and why publishComposite is part of the explanation.

[2017-04-13 14:38] theodorDiaconu commented on #145
@clayne11 indeed Meteor doesn't, but you could get around that limitation and it can result into that exception.

So your publication is a return of a collection with some ids. Can you reproduce this error ? If yes, how does it happen, you already gave a valuable clue, because when we search by _id's we go into the "Direct Processing" strategy.

Now tell me how you reproduce it and I will solve it

[2017-04-13 14:45] theodorDiaconu commented on #147
@nadeemja it wasn't related to publishComposite. you should follow up on the thread here to see why I thought it was publishComposite: https://github.com/cult-of-coders/redis-oplog/issues/145

[2017-04-13 14:50] theodorDiaconu commented on #148
@jamesgibson14 but your collection hooks are on the client-side ?

[2017-04-13 15:01] nadeemja commented on #147
Cool. I'm reading it now.

For some reason git cloning into /packages is giving me trouble and I don't want to fight it right now.

Do you mind releasing a 1.2.1-beta?

[2017-04-13 15:34] jamesgibson14 commented on #148
No they are only on the server side.  I have some updates that trigger 5-10 other find, update, and insert. When using redis-oplog the original update has to wait for all of those other updates to finish before replying to the client, which isn't the case without redis-oplog

[2017-04-14 04:43] theodorDiaconu commented on #148
@jamesgibson14 if they are on server-side, then you can pass optimistic: false, it won't force it. What you saw there in "validatedUpdate" is for isomorphic client-side updates, as in, if you do client-side:

```X.insert/update/remove(args)``` - It will run on the server-side with `optimistic: true`

But I see your point... I could try a different approach to optimistic-ui as-in: make it naive for

[2017-04-14 04:52] theodorDiaconu commented on #147
Published cultofcoders:redis-oplog@1.2.1-beta.

[2017-04-14 16:34] nadeemja commented on #147
Thanks. I've pushed to production and everything looks good! :)

[2017-04-14 17:06] jamesgibson14 commented on #140
Is there a way to expose globally some of the main components like RedisSubscriptionManager, RedisClient, etc.?

[2017-04-14 18:12] theodorDiaconu commented on #140
@jamesgibson14 we could do that, sure.

[2017-04-20 08:04] thearabbit opened #150 "Don't reactive/realtime when use "Direct access of Collection Hook""
Don't reactive/realtime, when use `direct access of collection hook`
[code]

[2017-04-20 09:14] theodorDiaconu commented on #150
@thearabbit , why not ?

[2017-04-20 10:20] thearabbit commented on #150
I have `Order Collection: {...., total:1000}`.
And then I update `total field` by `collection.direct.update()`.
On view
[code]

[2017-04-21 10:13] theodorDiaconu commented on #150
But this is not related to this package, why not easily modify the .direct hook and just make it send data with { pushToRedis: false }

[2017-04-21 10:53] theodorDiaconu commented on #150
Please do override the .direct function yourself, this package cannot override what other packages do, and it truly feels like a custom need.

[2017-04-21 10:53] #150 closed

[2017-04-24 04:31] mitar opened #151 "Using Meteor.defaultPublish prevents other packages to patch publish used by redis"
Hm, you are doing `Meteor.defaultPublish = Meteor.publish` which means that if any other package patches `Meteor.publish` after this package is loaded, that will not be used inside `Meteor.publishWithRedis` because it is using old (unchanged) `Meteor.defaultPublish`.

BTW, I made a [package with a helper to easier extend Meteor.publish](https://github.com/peerlibrary/meteor-extend-publish).

[2017-04-24 04:35] mitar commented on #151
Oh, this is in fact not a problem for this package. It is the same as using local variable to remember previous value, you just use a global variable. The only issue is that if anyone else will start using `Meteor.defaultPublish`, that will not be patched with packages coming after this package, but will be patched with packages coming before this package.

[2017-04-24 06:31] theodorDiaconu commented on #151
@mitar nice! got it.

[2017-04-24 09:39] nadeemja commented on #147
I tested this with the same users as last time, and everything works :)

[2017-04-24 09:39] #147 closed

[2017-04-25 06:32] ramezrafla commented on #145
Thanks @theodorDiaconu and sorry for delay.
I'll try to get you a repo to reproduce this. The thing is, it can get tricky as it is not 100% repeatable.

[2017-05-03 08:47] thearabbit opened #152 "Support `View` in Mongo 3.4!"
Now I use `Mongo 3.4`, and create `view` for `collection relation`.
Redis-Oplog support reactive data for view or not???

[2017-05-04 16:17] theodorDiaconu commented on #152
@thearabbit do you use the view inside minimongo ? how do you create it ?

[2017-05-04 23:48] thearabbit commented on #152
I create `view` directly in `Mongo`, and then create `ViewCollection` normal in Meteor.
[code]

[2017-05-06 09:31] theodorDiaconu commented on #152
Ok so the scenario is I need to subscribe to a view collection, but when actions are dispatched, that view won't know about the inserts, because the subscription to it will listen to "myview"

I believe we could create an aliasing scheme inside Redis.

[code]

Are you interested in doing a PR for this ?

[2017-05-06 09:54] thearabbit commented on #152
Thanks for your solve.
Sorry I can't `` do this (beginner).

[2017-05-14 15:49] dnish opened #154 "Transformations are not working"
Hey @theodorDiaconu,
it seems like that transformations doesn't work. We are depending heavily on them, since we need to add some sub documents to an published document. When we initialize Redis-Oplog (in production), every transformation stops working. If we go back to dev, everything is working fine again.

You can publish some data like this:

      // Publish
      return Meteor.users.find({_i

[2017-05-15 03:46] theodorDiaconu commented on #154
@dnish isn't transform function applied client-side only ?

[2017-05-15 04:59] dnish commented on #154
@theodorDiaconu  I don't think so, transformations are also added on server side. The only difference I made is to enable/disable Redis-oplog. If it is enabled, transformations are not added to my user doc. If I disable it, they are added again to the doc.  Tested in dev and production.

[2017-05-15 06:50] theodorDiaconu commented on #154
@dnish but when you query them client-side, do you use "transform" ?

[2017-05-15 07:22] dnish commented on #154
@theodorDiaconu We don't use transform on client side, because the client hasn't the data for the sub documents (we don't publish it to the client). So for example, we publish something like this:

[code]

On client side (React Native application), we only need to call <code>Meteor.user()</code> to receive the object, or we can do <code>Meteor.users.findOne({_id: Meteor.userId()});</code>. And her

[2017-05-15 07:23] theodorDiaconu commented on #154
@dnish I had no clue meteor behaves like this and I'm very happy you showed me this. Ok will write a test and fix it. It should be quick

[2017-05-30 14:39] theodorDiaconu opened #155 "Named queries, client-side, not fetching linked elements properly"

[2017-05-30 14:41] #155 closed

[2017-05-31 13:31] raphaelarias opened #156 "Callback when modifying collections with namedContext (SimpleSchema) does not work (collection2)"
Hi.

Congratulations for the great work. Just a quick question.

We have several methods that after an insert it does something. A saw that, after i started using redis-oplog these callbacks were not firing at all.

And when a seletor was being used to select the proper schema for validation, we got the error:
Not possible to read namedContext of null.

Would you know if we are doing something wro

[2017-06-09 10:04] dnish opened #157 "[Meteor 1.5] TypeError: callback is not a function"
Hey,
when executing this on the server side:

[code]

I get the following exception:
[code]

[2017-06-09 10:09] dnish commented on #157
Okay, I see that this happens when Redis-Oplog isn't initialized (like on our dev machine). It works after initialization.

[2017-06-09 10:09] #157 closed

[2017-06-09 10:17] theodorDiaconu commented on #156
@raphaelarias we have support and tests for collection hooks. CAn you try adding redis-oplog before or after collection-hooks, see how that works on ? Thank you!

[2017-06-11 18:19] raphaelarias commented on #156
I'm very sorry, apprently it is working now.

We do use collection hooks, but the "problem" was when doing a mongo operation in a method. The callback wasn't firing, this is for sure.

I had 99.9999% it wasn't your package, but it started to happen after we installed and fixed when we removed.

Now we are using Meteor 1.5 and everything works just the way it should be.

I'm sorry again for the inc

[2017-06-11 18:58] raphaelarias commented on #156
Ok, So I tested it again, and I found the issue.

In a couple of our collections we are using a named context when attaching the schema (SimpleSchema).

When that's the case every insert or update opertation you have to add a selector:

Collection.insert(data, { selector: { name: 'test' } }, (error) => {
console.log(error);
});

When that's the case, it does not work.

[2017-06-11 19:45] raphaelarias commented on #156
So, after a few tests, i finily realised that it only occurs in collections where you attach a schema using a named context.

To help, we have a repo:

https://github.com/raphaelarias/redis-oplog-collection2-issue

[2017-06-18 16:36] elie222 opened #158 "Exited with code: 1"
I've added this package to my app, but it keeps crashing on startup. The message is:
`Exited with code: 1`.

Any ideas how to fix this?

These are all the changes I made to my app:
[code]

And with debug on I get the following on startup (before it crashes a few seconds later):
[code]

Any ideas why this is happening? I'm on Meteor 1.5.

[2017-06-21 05:37] raphaelarias commented on #156
Is there anything I can do to help you? I tried to fix myself so I could do a pull request, but I don't have enough knowledge of the codebase, I guess.

[2017-06-21 06:07] theodorDiaconu commented on #156
@raphaelarias the problem is on .insert(), is that we override the insert method, and we don't further send the other params.

This is a hard problem, having to play with overriding inserts and stuff, because some people send another params, other don't, and the 2nd param is a callback (by default in meteor) which means there is extra logic that you need to handle.

Solution would be to allow a co

[2017-06-21 06:12] raphaelarias commented on #156
What if we test if the second parameter that it's usually the callback it's not a function. If it's true we send it to the original insert function.

To make sure nothing will stop working we make this behaviour occur only if it's in the settings, kind of like you said "passInsertOptions".

What do you think? With this solution people who are using packages that have this behaviour can still use t

[2017-06-21 06:13] theodorDiaconu commented on #158
Exited with code 1... hmm that is not very clear, I am interested in debugging this. Add me on skype: theodor.dt

[2017-06-21 06:19] theodorDiaconu commented on #156
@raphaelarias I think I got it.

Look here:

https://github.com/cult-of-coders/redis-oplog/blob/master/lib/mongo/Mutator.js#L14
The problem is that now we have collection2-core... not collection2. But we should do both detection of "common" packages, and also allow that option in config.

[2017-06-21 06:29] theodorDiaconu commented on #156
Actually the passConfigDown was never used, meaning it was useless. I am now thinking of a solution to put an end to this. And solve it 4ever.

[2017-06-21 06:37] raphaelarias commented on #156
Ok, I understand. Make sense.

So, as far as I know collection-2 is basically the most common package used that modify and expect a second parameter, but may exist others. What if it automatically always pass all the arguments to the original insert function?

As far as I understood the problem occur when _config:

static insert(Originals, data, _config) {

is not a function, so we have to validat

[2017-06-21 06:38] raphaelarias commented on #156
You are already validating if it's a function:

if (_.isFunction(_config)) {
                _config.call(this, null, docId);
            }

We can then, do that in the else of this if.

[2017-06-21 06:47] theodorDiaconu commented on #156
This is how they do it: https://github.com/aldeed/meteor-collection2-core/blob/master/package/collection2/collection2.js#L168

[2017-06-21 07:10] raphaelarias commented on #156
I'll take a look and try to come up with something too.

[2017-06-21 07:15] theodorDiaconu commented on #158
We solved the issue by putting cultofcoders:redis-oplog on top of the .meteor/packages.

Something inside a package breaks, with a bad exception:
https://juststartworking.com/meteor-exited-with-code-1/?utm_campaign=Adoption%3A%20Developer&utm_content=29019992&utm_medium=social&utm_source=googleplus

[2017-06-23 06:45] theodorDiaconu commented on #158
Problem solved :)

[2017-06-23 06:45] #158 closed

[2017-06-23 06:45] theodorDiaconu opened #159 "$elemMatch projection on fields. Offer support for that?"

[2017-06-23 07:27] elie222 commented on #158
Thanks Theodor for the help solving this.

To further explain for others. We fixed this by moving this package to be
the first line of .meteor/packages. This helped because one of my packages
was creating a collection and Redis Oplog needs to be run before all
collections are created. I didn't realise that the order of the listed
packages can affect the load order, but it does.

If you'd really li

[2017-06-27 03:49] theodorDiaconu opened #160 "Deprecate custom publish-composite package"
Use the default one from reywood

[2017-07-05 10:53] jantrienes commented on #12
I'm interested in working on this issue. Can you provide more info on what exactly you had in mind? As @hexsprite pointed out, a docker-compose file would be nice no have.

With respect to a meteor docker image, I experienced that [`meteor-launchpad`](https://github.com/jshimko/meteor-launchpad) works quite well. The mongo and redis images should work out of the box.

[2017-07-13 18:03] MaxShv opened #162 "Getting an error with optimistic UI"
Any idea on how to resolve it?

 TypeError: Cannot read property 'id' of null
     at PublicationEntry.send (packages/cultofcoders:redis-oplog/lib/cache/PublicationEntry.js:103:31)
    at ObservableCollection.send (packages/cultofcoders:redis-oplog/lib/cache/ObservableCollection.js:138:9)
     at ObservableCollection.change (packages/cultofcoders:redis-oplog/lib/cache/ObservableCollection.js:205:1

[2017-07-13 18:48] MaxShv opened #163 "Is server-autorun supported?"
I am getting the following error:

{ stack: 'TypeError: self.autorun is not a function\n    at [object Object].collection (imports/api/actions/server/publications.js:91:7)\n    at [object Object].<anonymous> (packages/cultofcoders:redis-oplog/lib/publishWithRedis.js:24:23)\

[2017-07-17 10:29] theodorDiaconu commented on #162
@MaxShv can you help me reproduce this ? in a repo ?

[2017-07-17 10:29] theodorDiaconu commented on #163
@MaxShv I know what the issue is here, and will fix it. It will be supported.

[2017-07-17 11:15] theodorDiaconu commented on #12
@jantrienes I think this task is no longer needed, because this is strictly related to the way you deploy. For example mup, creates another docker container for mongodb, this is how I envisioned it at first.

[2017-07-18 14:36] hexsprite commented on #12
it would be really useful for development as well but, true, it's very application specific

[2017-07-20 18:26] dnish opened #164 "Errors after upgrading"
Hey,
after upgrading to

    mongo@1.1.20
    npm-mongo@2.2.30

I get some wrong states on the client side (f.e. the user closes the subscription and still sees some of the old messages). I don't really know if this is related to this package or may be a core problem. Maybe someone has a similar issue?

[2017-07-26 12:24] raphaelarias commented on #156
I've opened a new Pull Request. No test is failing, my not sure if is the best way to do it thought. It works.

Do you have a plan to merge fixes and release a new version of the package?

[2017-07-26 12:27] theodorDiaconu commented on #164
@dnish what errors ? can you help us reproduce it ?

[2017-07-26 12:30] dnish commented on #164
It's something with the subscription data. For example we have a random chat like Omegle. If the user skips to the next user, all old messages are deleted from the screen (because we are stopping the old subscription). But after upgrading, the messages are still there. I'll try to reproduce in on a local machine and check, if the error occurs only when redis-oplog is enabled.

[2017-07-26 18:31] Pagebakers opened #166 "Error: can't set field named $setOnInsert"
I've managed to integrate redis-oplog in our app and most things seem to be working great, thanks for building this!

But there's one issue that keep popping up at random times.

[code]

I can't pinpoint where this is coming from.

First guess it had something todo with SimpleSchema/Collection2
[code]
I commented out the $setOnInsert line everywhere, but that doesn't make any difference. Doesn't m

[2017-07-28 00:38] elledienne opened #167 "Error with meteor-collection-helpers"
Seems like this package doesn't really work well with `meteor-collection-helpers`. When I run my app I get this error

[code]

The problem here is that the document doesn't get extended with the `meteor-collection-helpers` helpers. Do you have any idea why that doesn't happen?

[2017-07-28 14:21] MaxShv commented on #163
Great!

[2017-07-29 18:23] raphaelarias opened #168 "About the expected behaviour when changing value of a field"
Just a question about a behaviour that I'm not sure if it's the designed one.

For example: We have a list of "clients". When we update a document that makes it appear or disappear from this list (given the PUB query) it works perfectly, but when we change a field, for example, the name of this client, it's not updated in the UI (but the log shows the "u" event was received for this pub).

Does th

[2017-08-05 07:40] Pagebakers opened #169 "Is this still being actively developed?"
I've had really high hopes for this package, but it's been rather quiet since April.

First tests on our environment are successful, but I'm a bit reluctant te transition this to our production environment due to the inactivity.

Is this still being actively developed?

[2017-08-05 19:53] evolross commented on #169
Hopefully he's busy with integration fully into Meteor with MDG! One can hope.

[2017-08-08 01:51] MaxShv commented on #163
Hi @theodorDiaconu - any update on this one?

[2017-08-09 07:17] theodorDiaconu commented on #169
@Pagebakers @evolross
It is and I will continue to maintain it.

I'm going to make it LTS in the license. I have been in holidays and super busy, I won't let this baby go to waste. If you find bugs reproduce them and submit issue. Any bug that was critical has been fixed very fast.

[2017-08-09 07:17] #169 closed

[2017-08-09 07:17] theodorDiaconu commented on #168
@raphaelarias please file a reproduction repo for your use case, something quick, so I can identify the bug. It's definitely not expected :) Thanks!

[2017-08-09 07:19] theodorDiaconu commented on #166
@Pagebakers is that the full stack trace ? It's very strange. I think I can reproduce this if I do an upsert with $setOnInsert.

But not updating/upserting anything is the strange part...

Are you able to provide me with a quick reproduction repo ?

[2017-08-09 07:22] theodorDiaconu commented on #167
@elledienne it seems that cloneDeep function does not copy the extended functions as well. very interesting. ok, got it, thanks for bug report.

[2017-08-09 07:22] theodorDiaconu commented on #164
@dnish if you provide me with a reproduction repo, then I will be able to fix it. Even something small.

[2017-08-09 07:24] theodorDiaconu commented on #163
https://github.com/cult-of-coders/redis-oplog/issues/143 this is the issue that I have to fix to support this. I will handle it as soon as I get some free time.

[2017-08-09 07:39] Pagebakers commented on #169
That's awesome, really appreciate the amazing work!

[2017-08-09 07:41] Pagebakers commented on #166
I'll dive in it again to see if I can get more info.

I'm not sure what's causing this (the stack trace isn't helpful at all) and since our app is rather large there are a lot of parts involved.

[2017-08-09 08:53] ixdi opened #170 "Error: [When you subscribe directly, you can not have other specified fields rather than $in]"
Does anyone know why this error is happening?

We use publish composite. We have only noticed the error in production log, so for now we can not know which fields were used in the subscription. It only happens very occasionally.

Thank you

[code]

[2017-08-10 10:05] Pagebakers commented on #166
I haven't found a way to reproduce yet, but a bit more info here:

So this happens when there are multiple subscriptions on the same collection, both publishing a subset of fields.

When one subscriptions stops, it will $unset fields from Minimongo that are no longer published. Somehow $setOnInsert is included in the $unset modifier.

Full stacktrace:
[code]

[2017-08-10 10:10] Pagebakers commented on #166
Seeying this in the websockets messages:
[code]

[2017-08-10 11:26] dnish commented on #164
Hey @theodorDiaconu,
I've checked it with the latest Meteor updates:

[code]

Couldn't reproduce it. It seems to work fine again :).

[2017-08-10 11:26] #164 closed

[2017-08-10 13:12] theodorDiaconu commented on #164
@dnish I feel much much better. I wonder what was the actual issue... oh well let's leave it for now.

[2017-08-10 13:15] theodorDiaconu commented on #170
@ixdi do you know what publication it is ? If yes paste it.

The reason is this:
We subscribe intelligently when you have a selector like `{ _id: {$in: [1,2,3]} }`
However you may have something like { _id: {$nin: [1,2,3]} }, that may trigger an exception. Which is not good!

Pls show us the publication if you know it, or if you have something similar to what I said above.

[2017-08-10 21:29] ixdi commented on #170
@theodorDiaconu
We have selectors like { owner: {$in: [1,2,3]} } combined with { date: { $gte: start, $lte: end }} in the same selector.

[code]
We still have not detected the publication that causes the problem, so this is only an example of our  type of publications. Our other publications only use $in.

[2017-08-11 03:29] theodorDiaconu commented on #170
@ixdi this is closely related with _id, other fields should not affect that.

[2017-08-13 02:26] janat08 opened #171 "Benefits or remedies"
What makes this better than mongo oplog? I imagine you still want the RAM for every meteor instance, but now on separate machine. I imagine you may still keep the oplog around on mongo anyhow if you scale to substitute basic oplog.

[2017-08-13 02:29] janat08 commented on #12
https://github.com/tozd/docker-meteor already has mongo/meteor/nginx with ssl.

[2017-08-14 05:06] theodorDiaconu commented on #12
there are alternatives to this. would not really be that valuable.

[2017-08-14 05:06] #12 closed

[2017-08-14 05:08] theodorDiaconu commented on #171
The real advantage is that you gain control over reactivity and you can fine-tune it.
As in you can do updates that do not trigger reactivity, or updates that trigger reactivity on a specific namespace.

Take the scenario where you have messages collection, organized by a threadId.
If you want to reactively watch all messages for threadId using the standard way, every instance would receive every

[2017-08-14 05:08] #171 closed

[2017-08-14 06:05] janat08 commented on #171
Mongo is getting native subscriptions called messages or something, in 3.6.

[2017-08-14 07:00] theodorDiaconu commented on #171
@janat08 that would be great, but it depends on the level of depth they go in.

[2017-08-15 23:35] evolross commented on #171
BTW This is a good article on why `redis-oplog` is needed: [https://www.compose.com/articles/connecting-to-the-oplog-on-the-new-mongodb/](url)

[2017-08-16 07:09] janat08 commented on #171
url isn't working, and mongo is looking to replace meteor reactivity exactly with said messages.

[2017-08-16 07:13] theodorDiaconu commented on #171
@janat08 it's not that easy... mongo is the database, the client doesn't communicate with the database directly, a huge part of Meteor's reactivity will still be in there, most likely they will replace the oplog tailing component.

To make the url work copy/paste it in the browser. If you read it you understand why redis-oplog is needed as @evolross said

[2017-08-16 15:37] evolross commented on #171
URL fixed.  Read the "Why Oplog?" section of the article.

[2017-10-03 06:34] theodorDiaconu commented on #170
@ixdi what is the status of this ?

[2017-10-06 15:49] ixdi commented on #170
Hi,
By now, we have not had any issue with Meteor 1.6 (beta and rc).
I do not understand why but it seems correct now.
Thanks

[2017-10-06 15:51] msavin opened #173 "Future work"
Following up from the [pull request](https://github.com/cult-of-coders/redis-oplog/pull/172), I would like to make a few suggestions for marketing the package:

**Step 1: Give the package a new name**
  - The Redis Oplog as a name is great because its suggestive, but it may not be "technically correct". My suggestion would be to rebrand it in a way to highlight its uniqueness.
  - My suggestion fo

[2017-10-06 16:42] msavin opened #174 "User experience suggestions"
#1: De-emphasize the issue around the insecure package.

As I understand, Redtail does not work with insecure, which most people do not use anyway. However, simply saying that Redtail does not work with with package X sends a bad signal, because, what other packages might it not work with then? However, I believe this is a rare and unique situation, and so, my suggestion would be to mention it les

[2017-10-07 11:03] msavin commented on #174
Also - I noticed a small issue: when I have redis-oplog running but its not set up correctly, my app would reload like every couple of seconds. Removing the package solved the problem.

[2017-10-08 03:02] ramezrafla commented on #173
How about **Scalable LiveQuery** as a name? Redtail doesn't speak in itself, we need to read further to get it. Or **RedisTail** if you really want Redis in there. I like Scalabke LiveQuery as it speaks to what it does more than how it does it

[2017-10-08 03:06] ramezrafla opened #175 "Licensing Ideas"
I know @theodorDiaconu doesn't like the idea of licensing, but I would like to propose we push it further. If someone is using it in production with over 1000 users, then they are likely making money (or should be). We can set a value above which you have to pay licensing.

For corporate customers, not paying is a bad thing. It means there is no one to call on for support and that its maintenance

[2017-10-08 03:07] ramezrafla opened #176 "docs: Scaling Redis"
We need somewhere an explanation on how we should be scaling Redis for this package to work well with multi-servers. MongoDB we get (sharding, etc.). But Redis? Any special configs? e.g. to avoid race conditions.

[2017-10-08 15:28] msavin commented on #173
I wouldn't call it Scalable LiveQuery because it sounds like we are trying to one-up MDG in that case. However, the subtitle could be, "A Redis-based Scaling Solution for LiveQuery"

I think Redtail is nicer because its short, distinct, and we can use the redtail airplane as a logo. It would play nicely into the theme of the package: Redtail makes your app fly.

For some reason,  I think of Bower

[2017-10-08 15:37] msavin commented on #173
Lol - just for fun:

<img width="1280" alt="screen shot 2017-10-08 at 5 36 31 pm" src="https://user-images.githubusercontent.com/2031235/31318237-48997a32-ac4f-11e7-81fe-1f6a84808b37.png">

[2017-10-08 16:06] ramezrafla commented on #173
We call this coercion :) well done
Looks great!

[2017-10-08 16:20] msavin commented on #173
Hmmm - is there a word for something in between persuasion and passion? 😁

[2017-10-08 20:59] ramezrafla commented on #173
Is the name taken? http://corporate.redtailtechnology.com/

[2017-10-09 04:53] theodorDiaconu commented on #144
This is mup related.

[2017-10-09 04:53] #144 closed

[2017-10-09 05:08] theodorDiaconu commented on #176
@ramezrafla by the time you need to scale redis, you will afford 10 senior engineers to be on top of it. I think it's really unnecessary at this stage to invest focus in this. Redis scales very easily from my understanding.

[2017-10-09 05:11] theodorDiaconu commented on #175
@ramezrafla you are correct. I will create an offer for corporate people, and they will pay a monthly cost for support. Once we set this project up nicely we are going to publish to the Meteor's blog.

[2017-10-09 05:11] #175 closed

[2017-10-09 05:12] #170 closed

[2017-10-09 05:12] theodorDiaconu commented on #168
@raphaelarias can you help me identify the issue ? Thanks!

[2017-10-25 17:14] raphaelarias commented on #168
Oh man, sorry. I think I saw the notification and I thought that I would have answered.

As you said the mission isn’t over, so yes I can. Today I’ll take a look on this again, and possibly implement the tests for the pull request.

[2017-10-30 08:12] #176 closed

[2017-10-30 08:13] theodorDiaconu commented on #168
ping @raphaelarias , no rush just don't forget :D

[2017-10-31 01:45] raphaelarias commented on #168
I've started the tests.

[2017-10-31 17:30] theodorDiaconu commented on #151
@mitar Meteor.defaultPublish should be an internal variable and not overridable. I'm going to solve the issue like that for now.

[2017-10-31 18:19] mitar commented on #151
Maybe rename it to `Meteor._defaultPublish` then?

[2017-10-31 19:21] simonbelanger opened #177 "Transformed fields included in "changed" events"
Transformed fields (assigned in the collection's `transform` function) are mistakenly included in DDP `changed` events :

![2017-10-31 at 15 13](https://user-images.githubusercontent.com/17987029/32244231-43c9e5c6-be4e-11e7-8371-fe0934b7ae7c.png)

Here's the exact `transform` function :

[code]

Here's the `packages` file :

[code]

[2017-10-31 20:13] simonbelanger commented on #177
I dug a little deeper and it looks like the problem is coming from this line https://github.com/cult-of-coders/redis-oplog/blob/6f38b0292cfec6b1ccd73b79545552a1415999ae/lib/cache/ObservableCollection.js#L254

Adding `transform: null` to the `options` parameter seems to fix the issue. I don't see why we would need the transformed fields in this context anyway.

[2017-11-01 06:02] theodorDiaconu commented on #151
I no longer store it inside Meteor object. No need to.

[2017-11-01 06:04] mitar commented on #151
Exactly.

[2017-11-01 06:09] theodorDiaconu commented on #177
@simonbelanger a very interesting point, some people want these transformed variables like this look:
https://github.com/cult-of-coders/redis-oplog/issues/154

But it seems they only need it when you pass a transform as an option to the cursor. Interesting.

[2017-11-01 09:13] theodorDiaconu commented on #167
@elledienne can you explain this:  at transformer (webpack:///server/publications/deals.js:60:1) ?

[2017-11-01 10:47] theodorDiaconu opened #178 "Sharing a Redis database between multiple apps"
Just prefix the channels with a given text-key. Which will allow different apps to use the same redis-server but they are independent

[2017-11-01 10:48] theodorDiaconu commented on #174
@msavin thank you very much.

#1 added that warning
#2 you can instantiate it without Meteor.settings that's a problem
#3 added a ticket for it that is separate

[2017-11-01 10:48] #174 closed

[2017-11-01 12:03] theodorDiaconu commented on #156
@raphaelarias would this still fail if you load cultofcoders before ?

[2017-11-01 12:17] theodorDiaconu opened #179 "Redis Events API"
Unidirectional communication channel that integrates Redis Events and DDP. Opening the world of bringing incredibly scalable reactivity to fine-tuned requirements that works in multi-instance environments.

## Desired API

[code]

## Proposed Implementation

Create a local collection for each vent subscription and let the current DDP implementation communicate with it using the following strategy:

[2017-11-01 12:31] #143 closed

[2017-11-01 12:31] #151 closed

[2017-11-01 12:31] #160 closed

[2017-11-01 12:31] #162 closed

[2017-11-01 12:31] #163 closed

[2017-11-01 12:31] #166 closed

[2017-11-01 12:31] #167 closed

[2017-11-01 12:47] theodorDiaconu commented on #179
@mitar you are a master here, is it possible to use DDP in such way, but without keeping track of the data ?

So a sort of what you did, but without mergebox ?
I was investigating your https://github.com/peerlibrary/meteor-subscription-data

If you have any ideas let me know, I'll investigate this further.

[2017-11-01 12:48] theodorDiaconu commented on #179
Investigate https://arunoda.github.io/meteor-streams/

[2017-11-01 12:58] #154 closed

[2017-11-01 13:22] simonbelanger commented on #177
passing `this.options.transform` fixes the issue but since only modified fields are included in the `findOne`, it could lead to extremely erratic behavior in the `transform` function...

[2017-11-01 13:37] theodorDiaconu commented on #177
@simonbelanger good catch. I'm going to fix this.

[2017-11-01 14:24] msavin commented on #3
Are 'xxx' for publication and namespace supposed to be the same?

[2017-11-01 14:24] theodorDiaconu commented on #3
nope

[2017-11-01 14:38] theodorDiaconu commented on #177
@simonbelanger fixed, and published 1.2.1_1 very good catch indeed.

[2017-11-01 14:38] #177 closed

[2017-11-01 14:41] simonbelanger commented on #177
👌  thx for the fix

[2017-11-01 14:59] msavin commented on #179
I like it, but we gotta change the name RedisOplog :D it's not an "oplog" and in this case it becomes more than a query sync tool too.

[2017-11-01 15:04] msavin opened #180 "Alerts for Redis unavailability"
It would be cool if this package created some kind of publication or something to notify clients if Redis is unavailable. Ideally, we could run something like `Meteor.hasRedis` and notify end-users of issues if there are any.

[2017-11-01 15:05] msavin commented on #173
I don't think it would be a problem because we are in totally different markets - but we'd need to  ask a lawyer to know for sure.

[2017-11-01 15:10] msavin commented on #180
Additionally, maybe create room for a callback:
[code]

[2017-11-01 15:39] theodorDiaconu commented on #177
@simonbelanger do you have any metrics for me, how it compares to non-redis-oplog solution ?

[2017-11-01 15:40] theodorDiaconu commented on #180
@msavin very good idea

[2017-11-01 16:08] simonbelanger commented on #177
not yet, I'm still working on the package integration but I'll keep you posted. I'm very eager to put that in production, we have nearly 10 000 concurrent connections on the app and the oplog processing for some collections is completely crazy...

![2017-11-01 at 12 06](https://user-images.githubusercontent.com/17987029/32284327-4a68e008-befd-11e7-8e2b-e569ea618e17.png)

...and that's for a range

[2017-11-01 17:16] theodorDiaconu commented on #177
@simonbelanger my god, nice. Pls consider using namespaces, they could really make a difference.

[2017-11-02 08:48] Pagebakers commented on #166
Awesome!

[2017-11-02 12:48] theodorDiaconu opened #182 "Minimize requests to the database when receiving events"
## Problem

Given the fact I have the following subscriptions
[code]

Given item with _id = 'XXX' and status: 'active'. And I run the following update:
[code]

The processors will receive _id='XXX', fields: ['status']. They will need to query the database to see if it still matches their subscription.

Processor 1 (the ones that finds the active items)
- Will receive event
- [DB] Will interrogate

[2017-11-02 15:14] simonbelanger opened #183 "Collection-level transform in publishComposite"
It looks like collection-level `transform` is skipped for the documents passed down to `children`'s `find` functions in `publishComposite`, which is problematic because it's different from the original package's behavior.

Two precisions :
- Transform should be skipped for documents passed to the client
- Transform should be skipped for the documents passed down to `children`'s `find` functions if

[2017-11-02 15:46] simonbelanger commented on #183
I did more tests, and it looks like the original behavior is to also apply the collection-level `transform` to documents passed to the client.

[2017-11-02 17:15] simonbelanger commented on #183
So... the problem comes from here https://github.com/cult-of-coders/redis-oplog/blob/86e44a25bef4577a3f1c5292708872a137145a2e/lib/mongo/extendObserveChanges.js#L62 and here https://github.com/cult-of-coders/redis-oplog/blob/86e44a25bef4577a3f1c5292708872a137145a2e/lib/mongo/extendObserveChanges.js#L70 and is specific to methods added to the document instance (using `dburles:collection-helpers` in

[2017-11-02 18:36] theodorDiaconu commented on #183
@simonbelanger the reason I'm cloning them was because publishComposite was failing for a very strange reason. Need to find another way, but can you help me by clearly specifying your case, as in show me how your publishComposite looks like, and how it should behave, so I can write a test for it.

[2017-11-02 18:41] theodorDiaconu commented on #183
This is the strange thing, if I don't clone it here:
[code]

This test fails: "Should be able to detect updates on parent element"

[2017-11-02 18:44] theodorDiaconu commented on #183
Just realized that doing _.extend({}, doc) still works :)

[2017-11-02 18:45] simonbelanger commented on #183
Replacing every `EJSON.clone` in the package by `cloneDeep` from `lodash` fixes the issue.

If you want to reproduce the issue you can simply define a helper on a collection using `dburles:collection-helpers` and try to call this helper for a document passed down to a `children`'s find function in a `publishComposite`

[2017-11-02 18:46] theodorDiaconu commented on #183
We don't even need cloneDeep, `_.extend({}, doc)` solves it.

[2017-11-02 18:49] theodorDiaconu commented on #183
I'm bringing back cloneDeep, and fixing it atm.

[2017-11-02 18:52] simonbelanger commented on #183
awesome, thx

[2017-11-02 19:04] theodorDiaconu opened #185 "Fix issue when _cursorDescription is missing from cursor."

[2017-11-02 19:06] theodorDiaconu commented on #185
This only happens in production mode:

And this is the cursor:
[code]

[2017-11-02 19:08] theodorDiaconu commented on #185
It's nothing to worry about, it's just for LocalCollections.

[2017-11-02 19:10] #182 closed

[2017-11-02 19:10] #183 closed

[2017-11-02 19:10] #185 closed

[2017-11-02 19:24] simonbelanger opened #186 "Variable typo"
https://github.com/cult-of-coders/redis-oplog/blob/ad1190531d10102724ac5327ae5799f06df85130/lib/cache/lib/getChannels.js#L7

[2017-11-02 20:25] ixdi opened #187 "Strange issue when a field (roles: 1) is included in the publication"
Hi,

We tested version 1.2.2 and publications are never get ready. Loading state runs forever.

Can we connect to the same redis database from two applications (test and production)? We are doing so and it runs normally with 1.2.1_1

After 1.2.2 we have loaded version 1.2.1_1 again and it runs normally.

Thanks

[2017-11-02 20:52] ramezrafla commented on #187
We do get issues too with 1.2.2 -- keeps disconnecting.

[2017-11-02 21:01] ramezrafla commented on #187
Confirming that reverting to 1.2.1_1 fixes (commit 86e44a25bef4577a3f1c5292708872a137145a2e titled 'Bump to 1.2.1_1') but the commit right after (95f43691eef8ca02a749e0be652cd56e24ece196) breaks it

[2017-11-02 22:00] theodorDiaconu commented on #187
Any errors on the server-side ? This is very strange, all tests are passing.

[2017-11-02 22:09] theodorDiaconu commented on #187
@ixdi @ramezrafla I'm working on it at the moment.

[2017-11-02 22:42] #186 closed

[2017-11-02 22:43] theodorDiaconu commented on #187
@ixdi I can't seem to reproduce this :( so help me understand, does it work locally for you ok ?

[2017-11-03 08:01] theodorDiaconu opened #188 "Offer support for meteor-publish-performant-counts"
Exception from task: TypeError: Cannot read property 'name' of undefined
I20171103-07:35:40.253(0)?     at PublicationFactory.getPublicationId (packages/cultofcoders:redis-oplog/lib/cache/PublicationFactory.js:53:52)
I20171103-07:35:40.253(0)?     at PublicationFactory.create (packages/cultofcoders:redis-oplog/lib/cache/PublicationFactory.js:21:23)
I20171103-07:35:40.254(0)?     at cursors.forEach

[2017-11-03 08:18] #188 closed

[2017-11-03 08:34] theodorDiaconu commented on #168
@raphaelarias let's kill this bug. help me out with more details.

[2017-11-03 08:35] theodorDiaconu commented on #156
I think this should be fixed if you just put redis-oplog as the top package.

[2017-11-03 08:35] #156 closed

[2017-11-03 08:36] theodorDiaconu commented on #145
@clayne11  @evolross
I think it was related to server autorun. Did you have that in your apps ?

[2017-11-03 08:52] ixdi commented on #187
@theodorDiaconu we updated to 1.2.2_1 but the result is the same. Locally does not work either. It fails when user sign in.

We paste an extract of locally debugged logs, that were repeated until we stopped the meteor server. We are using redis version 3.2.11

[code]

[2017-11-03 08:54] theodorDiaconu commented on #187
@ixdi I'm not seeing any real error, so what you are stating is the fact that the subscription in client-side never gets ready ? Is the data pushed ? Can you inspect the websockets a bit ?

[2017-11-03 08:55] ixdi commented on #187
Ok we found the problem!

It ocurrs when there's a publication of type:
[code]

[2017-11-03 08:58] theodorDiaconu commented on #187
@ixdi the behaviour of redis publication is that, if it doesn't return anything it delegates it to the old Meteor.publish... I will try to write a test for this, see if I can break it. So the problem is that the pubData never becomes 'ready' ?

[2017-11-03 09:00] ixdi commented on #187
@theodorDiaconu yes, we think this is.

When we change that publication to this, there's no problem

[code]

[2017-11-03 10:00] theodorDiaconu commented on #187
@ixdi wrote a test for it, and it passed. This is so super strange. As I mentioned above if you do it like that, it should work out of the box. Are you absolutely sure that's the cause ?

[2017-11-03 10:04] theodorDiaconu commented on #180
@msavin this is going to be fixed in the 1.2.3 release I already did it.

[2017-11-03 10:05] theodorDiaconu commented on #187
@ixdi can you move on the release/1.2.3 branch to check it ?

cd packages ; git clone ... ; git checkout release/1.2.3

[2017-11-03 10:06] theodorDiaconu commented on #187
Texts are here: https://github.com/cult-of-coders/redis-oplog/tree/release/1.2.3/testing/custom-publications

[2017-11-03 12:01] ixdi commented on #187
It's really strange.

Version 1.2.3 always fail, although we use the code that does not fail with 1.2.2_1

[code]

[2017-11-03 12:02] raphaelarias commented on #156
That's nice, an unexpected solution (at least for me) this one.

Congratulations!

[2017-11-03 12:12] raphaelarias commented on #168
I'm deploying to QA to test it.

[2017-11-03 12:27] raphaelarias commented on #168
I'm double checking because I'm having this thrown in the console:

Exception in queued task: TypeError: Cannot use 'in' operator to search for 'lastLogin' in undefined
at process (packages/cultofcoders:redis-oplog/lib/cache/lib/processUndefined.js:9:15)
at process (packages/cultofcoders:redis-oplog/lib/cache/lib/processUndefined.js:14:13)
at fields.forEach.field (packages/cultofcoders:redis-oplog

[2017-11-03 13:42] theodorDiaconu commented on #187
@ixdi so you are saying it fails with 1.2.3 on that simple publication ?

[2017-11-03 13:43] theodorDiaconu commented on #187
Above you were saying that it fails for 1.2.2

[2017-11-03 13:44] theodorDiaconu commented on #168
@raphaelarias always try to show me your publication, how you subscribe and when it happens. I believe I know the issue here.

[2017-11-03 13:46] theodorDiaconu commented on #168
@raphaelarias I might have fixed pls clone it locally, and go to release/1.2.3 branch to see if it still occurs.

[2017-11-03 15:28] raphaelarias commented on #168
Ok, let me try. In this case I don't "manage" this field. It's probably a package, so I haven't created any pub/sub regarding this directly.

[2017-11-03 18:00] simonbelanger opened #190 "Wrong parameter value"
https://github.com/cult-of-coders/redis-oplog/blob/9e99efed478742a6bb6152ba75b7ed09bf430f62/lib/processors/direct.js#L33

should pass `doc` instead of `doc._id`

[2017-11-03 19:17] simonbelanger opened #191 "Redis server capabilities"
How can we evaluate the ressources needed on the redis server regarding RAM, storage, concurrent connections, etc?

[2017-11-04 08:46] theodorDiaconu commented on #190
Wonder how the tests passed. .. ty, will solve.

[2017-11-04 08:49] theodorDiaconu commented on #191
@simonbelanger one redis server can handle like 300k ops / s

Check here:
https://redis.io/topics/benchmarks

You don't need much storage, I think 512MB RAM, and 1 good CPU is enough for most applications. (Handles around 300k ops/s)

Just keep Redis in the same network.

[2017-11-04 08:50] theodorDiaconu commented on #168
@raphaelarias can you show me the packages that you use ? I tried to break it with a test, but couldn't.

[2017-11-04 13:45] #191 closed

[2017-11-06 09:47] theodorDiaconu commented on #148
This has already been solved.

[2017-11-06 09:47] #148 closed

[2017-11-06 09:48] theodorDiaconu commented on #140
We now export getRedisListener, getRedisPusher so you can hook directly into Redis.

[2017-11-06 09:48] #140 closed

[2017-11-06 09:52] mitar commented on #179
Do you know about: https://github.com/peerlibrary/meteor-control-mergebox

But yes, if you want just to send things, then I recommend these days to use https://github.com/RocketChat/meteor-streamer.

You could also do something similar yourself and piggy-back stream yourself.

[2017-11-06 09:53] theodorDiaconu commented on #179
@mitar I actually found something that looks very promising:
https://github.com/wojtkowiak/meteor-custom-protocol

[2017-11-06 09:59] #139 closed

[2017-11-06 09:59] #168 closed

[2017-11-06 09:59] #180 closed

[2017-11-06 09:59] #190 closed

[2017-11-06 10:03] theodorDiaconu commented on #159
I have no idea what I meant.

[2017-11-06 10:03] #159 closed

[2017-11-06 10:04] mitar commented on #179
Yes, I think it uses the same underlying mechanism.

I think since https://github.com/meteor/meteor/pull/7985 this is much easier to implement.

[2017-11-06 10:08] theodorDiaconu commented on #179
@mitar I actually like more the API of Streamer.

[2017-11-06 11:04] ixdi commented on #187
Hi @theodorDiaconu,

We don't know why but we discovered that it fails when we subscribe to a user publication that sends user roles. If we do not send the roles field then it does not fail.

We send roles field with other extra user fields when signin in because, as you know, Meteor only sends username, email and profile. We disabled publishing roles in the alanning:roles package.

Roles field is

[2017-11-06 12:05] theodorDiaconu commented on #179
Investigate https://github.com/raix/Meteor-EventDDP

[2017-11-06 12:32] theodorDiaconu commented on #179
I think the solution would be a mixture of:
DisableMergebox and https://github.com/RocketChat/meteor-streamer/blob/master/packages/rocketchat-streamer/client/client.js#L18

See if I can fork meteor-streamer and transform it based on specified needs.

[2017-11-06 13:19] simonbelanger opened #192 "Redis package options"
It would be helpful to reference the `redis` package documentation (https://www.npmjs.com/package/redis#options-object-properties) for the `redis` settings in the readme.

[2017-11-06 13:48] theodorDiaconu commented on #187
@ixdi another question would be about load order, do you have redis-oplog as your top package?

[2017-11-06 13:49] theodorDiaconu commented on #192
Yes, true I think I had it at some point, my bad.

[2017-11-06 13:51] theodorDiaconu commented on #168
@raphaelarias are you using a meteor user status ?
https://github.com/mizzao/meteor-user-status
or
https://github.com/VeliovGroup/Meteor-user-status

Would be helpful if this continues to tell me all the packages that you use. And also did you put redis-oplog on top ?

[2017-11-06 13:53] theodorDiaconu commented on #145
This can happen in the following scenario:
- Given two publications that share the same document
- We remove that document from database
- "removed" will be called twice.

Maybe find a way to execute removes at the end of processing each observable collection.

[2017-11-06 13:57] theodorDiaconu opened #193 "Execute .removed() event after all processors have finished for a Redis Event"
This issue was first mentioned here: https://github.com/cult-of-coders/redis-oplog/issues/145
[code]
First find a way to reproduce it.

A possible solution would be to store all removed events in each `PublicationEntry`, then at the end of processing, merge them so we don't remove 2 elements with the same _id and send them to DDP.

Caution with concurrency. We may need to run processing in a synch

[2017-11-06 14:01] theodorDiaconu commented on #145
Created new issue around this.

[2017-11-06 14:01] #145 closed

[2017-11-06 15:32] ixdi commented on #187
@theodorDiaconu Yes, it's the first one in the packages.

Fail means that is subscribing and unsubscribing all the time when a user sign in. The ready state is set correctly because screen loads but some components start blinking. If user is not logged in there's no such error.

When the roles field is present the redis-oplog logs show this two lines and then start to repeat subription and unsubsc

[2017-11-06 16:19] maxnowack commented on #192
It was removed in e7e14de76d70c9fe30efa375706c88fe88c35878

[2017-11-06 16:49] theodorDiaconu commented on #187
@ixdi I think it's because in 1.2.2 I removed the reactivity for collections that don't have a `_cursorDescription` inside them. I knew it was there for a reason, but because there wasn't any test to break I removed it. I need to investigate to properly solve this.

[2017-11-06 16:52] theodorDiaconu opened #195 "Explore opening reactivity to any type of database"
After #179 will be implemented, you can already start mimicking the reactivity, however, if you want a solid solution you will most likely build what RedisOplog already has built with it's processors.

The solution is to abstract a MongoDB driver that plugs into RedisOplog allowing other people to write their own drivers for any db.

We need to still tie ourselves to Meteor.

[2017-11-07 08:34] theodorDiaconu opened #196 "Explore disabling Meteor's mergebox for good"
## Problem

Currently we store the publication data in our ObservableCollections but Meteor also stores it in it's Mergebox.

It's not really an issue, as-in, how big can your data get? 2MB, 5MB ? If it passes 50MB I think you should reconsider your approach.

In any case this data will not affect your RAM too much. But it's not elegant.

## Solution

Use `this.disableMergebox()` from Mitar, and t

[2017-11-07 08:58] theodorDiaconu commented on #192
@simonbelanger btw, how is integration going? It would be of tremendous help for all Meteor community if you can show us the performance improvements.

[2017-11-07 09:29] theodorDiaconu commented on #159
@evolross I have no idea. Just wrote a test for $elemMatch that passes:
https://github.com/cult-of-coders/redis-oplog/blob/feature/redis-vent/testing/main.client.js#L1113

[2017-11-07 09:30] theodorDiaconu commented on #21
Makes simple things complicated and it will be hard to scale it.

[2017-11-07 09:30] #21 closed

[2017-11-07 11:17] theodorDiaconu commented on #187
This is one of the strangest issues @ixdi
https://github.com/cult-of-coders/redis-oplog/blob/feature/redis-vent/testing/accounts/client.js

I wrote a test, I had my debug one, there's no unsubscribing unless I do Meteor.logout()
Can you test with "feature/redis-vent" branch ? This bug is bugging me seriously.

@ixdi If not, would it be possible for you to create a reproduction repo?
Some questions

[2017-11-07 11:46] theodorDiaconu commented on #178
You can easily open multiple redis-servers on a given instance, if you want to share them. I think it's by far safer and less error prone to have this.

[2017-11-07 11:46] #178 closed

[2017-11-07 14:09] simonbelanger commented on #192
@theodorDiaconu It's in QA right now, should be deployed by the end of the week. I'll keep you posted.

[2017-11-07 14:31] theodorDiaconu commented on #192
@simonbelanger thank you, I'm so curious on how it performs.

[2017-11-07 17:06] theodorDiaconu commented on #187
@ixdi does this also happen with feature/redis-vent branch ? Can you please try ? This issue is so strange.

[2017-11-07 17:11] ixdi commented on #187
Yes, sorry I didn't mention. It fails with redis-vent.

[2017-11-07 17:28] theodorDiaconu commented on #187
@ixdi clearly this is what you and Ramez have in common, I see that @ramezrafla is a contributor here: https://github.com/ccorcos/meteor-subs-cache/blob/master/src/SubsCache.js

For sure he's using it also.

[2017-11-07 17:43] theodorDiaconu commented on #187
@ixdi I need to see if the client sends the "unsubscribe" event, can you inspect the websocket frames and dump them to me ? Also in your RedisOplog debug log, I didn't see any {"roles":1} as field.

As of know is that still the case ? If you comment out roles field it works ?

[2017-11-07 21:09] anschutz commented on #159
Minimongo doesn't support `$elemMatch` and `$` projection operators in queries, thus we can't make use of Mongo Oplog. Can you confirm that both work in Redis Oplog?

[2017-11-08 07:23] theodorDiaconu commented on #159
@anschutz can you provide me with a concrete use-case ?

[2017-11-08 10:06] anschutz commented on #159
For example, the following two queries will not be able to make use of Mongo Oplog in a regular publication:
`Collection.find(teamId, { fields: { name: true, users: { $elemMatch: { _id: this.userId } } } });`
`AnotherCollection.find({ 'sharedByUrl.hash': hash }, { fields: { title: true, 'sharedByUrl.$': true } });`

[2017-11-08 10:18] theodorDiaconu commented on #159
I see, I think it's quite easy to do this.

Basically I need to transform the fields projection (which happens in ObservableCollection) into projecting users: 1 and sharedByUrl: 1

So basically just transforming field: Object, into field: 1, and 'field.$': 1 into field: 1. And storing this special fields somewhere.

Then when the document is changed, figure out these changes, and create another fu

[2017-11-08 10:21] anschutz commented on #159
Yeah, at least something like that. In my case array projection is more or less a security measure. In the example with `this.userId` I'm trying to filter out the rest of the users in the same array

[2017-11-08 10:29] theodorDiaconu commented on #159
@anschutz I see, you know that you can do this by using a transform:

Inside publication:
return Something.find({}, { transform(doc) { return doc; } })

[2017-11-08 10:44] anschutz commented on #159
Yeah, exactly. But the transform affects the performance significantly, so I'd rather avoid it

[2017-11-08 15:52] theodorDiaconu commented on #159
@anschutz they do, indeed... well, it can take some time to properly develop this. Are you interested in doing a PR? I can point you in the right direction. I'm going to create another issue related to this, it's very interesting.

[2017-11-08 15:59] Twisterking opened #197 "[Q] Proper server setup for RedisOplog"
I am currently running my Meteor App on a [DigitalOcean Droplet with 2 Cores and 2GB RAM](https://www.digitalocean.com/pricing/#droplet) ... I don't have that many concurrent users but lots of reactive queries (lots of searching in collections via RegEx).

My question is:

- Does RedisOplog make proper sense for me? Are there any real performance benefits even if there are only about 30-80 concurr

[2017-11-08 16:07] theodorDiaconu opened #198 "Offer special field projection $"
Meteor doesn't currently support this, but we can do it.

## Problem
[code]

This type of projection only returns you the first field it finds that matches the solution. This looks like a very useful thing to have.

## Solution
We need to do the following:

Exclude the ObservableCollections that contain special fields projection from the initial find if and only if a projected field has changed. I

[2017-11-08 16:10] theodorDiaconu commented on #197
@Twisterking

1. It will have performance benefits for sure, would it be notice-able for 80 users ? Doubt it, unless you have a lot of traffic on the app. If you don't experience performance issues, why bother ?
2. You can run it in the same server, redis doesn't consume much RAM at all.

Cheers!

[2017-11-08 16:10] #197 closed

[2017-11-08 16:12] anschutz commented on #159
I'm yet to try the package itself. My intention was to use that as an alternative to mongo oplog on the production app. I will see what I can do as soon as I plug it in (maybe in a couple of weeks).

[2017-11-08 16:13] theodorDiaconu commented on #159
@anschutz I looked into this issue more carefully, and these type of queries are not that rare, it seems very do-able, you can have reactivity to these reactive fields.

[2017-11-09 06:20] theodorDiaconu commented on #187
This will be fixed I realised what my issue was :)

[2017-11-09 09:21] ixdi commented on #187
Uou, thanks @theodorDiaconu !!

We removed subs-cache and did other actions but nothing worked.

[2017-11-09 10:33] theodorDiaconu commented on #187
@ixdi yeah it was very strange issue, by any chance do you have user-presence ?

[2017-11-09 11:21] ixdi commented on #187
No, we don't use this package.

[2017-11-09 11:22] theodorDiaconu commented on #187
@ixdi ok no problem I found the bug, and I'm going to fix it.

[2017-11-09 11:24] theodorDiaconu commented on #187
@ixdi check now the redis-vent branch. it should work. I'm now working on making Redis Oplog even more performant, then launching 1.2.4

[2017-11-09 12:00] ixdi commented on #187
Ok now! Thanks!!

[2017-11-09 12:18] #179 closed

[2017-11-09 12:18] #187 closed

[2017-11-09 12:18] #192 closed

[2017-11-09 12:18] #193 closed

[2017-11-09 12:26] theodorDiaconu opened #199 "Do updates more efficiently for direct processing."
## Problem

Currently when we are performing an update, we retrieve all the observableCollections and we get the fields they specify along with the filter fields they specify.

We merge them all, then we get that document (the document can be fetched fully, without those fields)

The problem is that for updating elements that already exist in stores, fetching the document again with those fields m

[2017-11-09 16:04] simonbelanger opened #200 "[1.2.3] Undefined document on insert event processing"
@theodorDiaconu First, I want to inform you that we've put the package in production last night and so far we have no stability issue and we're running on nearly half of the containers we are normally running on at this time of day. We were hoping for an important gain, but is is above all our expectations. And there's still a lot of namespace optimizations possible.

Now the regarding the issue..

[2017-11-09 16:07] theodorDiaconu commented on #200
@simonbelanger good job!! Man you got me so excited!

First tell me what version you are using, that issue happens when we do an insert and we aren't passing a doc.

[2017-11-09 16:16] simonbelanger commented on #200
I'll update to 1.2.4. These exceptions are kinda hard to catch because they happened in asynchronous events fully handled inside the package, but I'll put the source directly in the `packages` folder to add more meaningful log.

[2017-11-09 16:25] simonbelanger opened #201 "Live Queries metrics in Meteor APM"
It looks like Live Queries metrics are no longer tracked in Meteor APM when using this package. Known issue?

[2017-11-09 16:31] copleykj opened #202 "Optimistic UI update issue"
Client side insert operations cause a flicker in the UI as documents are added, removed and then finally added again.

[2017-11-09 16:32] theodorDiaconu commented on #201
It seems that I need to make use of:
[code]

In order to achieve this. Can you tell me what metrics we need ? Would sessions be enough ? What sessions really represent, because we may re-use some.

[2017-11-09 16:33] theodorDiaconu commented on #202
@copleykj can you please try Collection.insert(xxx, {optimistic: true})

[2017-11-09 16:35] theodorDiaconu commented on #201
I've searched all Package.facts usage inside Meteor and got the following:
[code]

[2017-11-09 16:40] theodorDiaconu commented on #202
@copleykj also, is redis-oplog your top package ?

[2017-11-09 16:40] simonbelanger commented on #201
Oplog notifications is the key metric IMO because this is the one necessary to determine where to do namespaces/channels optimization.

[2017-11-09 16:41] theodorDiaconu commented on #201
I understand their importance. I'm going to take care of this.

[2017-11-09 16:43] theodorDiaconu commented on #200
https://github.com/cult-of-coders/redis-oplog/blob/90b0e6afe1e75bcc76c113bb3d12081018153f4c/lib/redis/RedisSubscriptionManager.js#L131

Is there the slight possibility of having a concurrency issue here ? An imediate deletion after an insert ? Do you have such cases inside ?

[2017-11-09 16:48] theodorDiaconu commented on #202
Trying to run your socialize-demo:
[code]

[2017-11-09 16:48] simonbelanger commented on #200
Concurrency issue is definitely a possibility... I'll have more context after tonight's release

[2017-11-09 16:49] theodorDiaconu commented on #202
Tried to delete them then:
[code]

[2017-11-09 16:49] theodorDiaconu commented on #200
@simonbelanger I will have it fixed by then, releasing now 1.2.4_1 just to be sure if the doc is no longer in the database, don't do any processing.

[2017-11-09 16:50] theodorDiaconu commented on #202
Another important question, how are you subscribing to the data, is it by any chance a publishComposite ? :D

[2017-11-09 16:50] copleykj commented on #202
Yes redis-oplog is top package. It seems this happens when insert has a channel option but the publication isn't using the channel. Oddly enough adding the optimistic option fixes the issue..

as far as the error, the demo currently requires packages that aren't available on atmosphere so there is a script that clones the necessary packages from github to the packages folder.

[2017-11-09 16:51] copleykj commented on #202
no, not yet using publish-composite.. that's my next step

[2017-11-09 16:53] #200 closed

[2017-11-09 16:54] theodorDiaconu commented on #200
Most likely a concurrency issue... hopefully that fixes it.

[2017-11-09 17:15] theodorDiaconu commented on #201
By investigating this:
https://github.com/meteorhacks/kadira/tree/master/lib/hijack

I see that the metrics are wrapped and in theory it should work. How do you use Meteor APM ? Is it a package? If yes, is it added after redis-oplog initializes ?

[2017-11-09 17:26] simonbelanger opened #204 "Default values for "mutationDefaults" settings"
If the following setting is specified, `pushToRedis` get falsy :

[code]

Expected behavior would be for it to keep its default value.

Also, I can see the performance gain in deactivating optimistic UI, but IMO the default here should be to keep it active. I don't expect this package to change any other behaviors than the oplog tailing mechanism.

[2017-11-09 17:32] simonbelanger commented on #201
We're using `mdg:meteor-apm-agent` package. It is placed before `cultofcoders:redis-oplog` in the `packages` file.

Oplog notifications is the only metric we really need regarding Live Queries.

[2017-11-09 17:34] theodorDiaconu commented on #201
@simonbelanger by oplog notifications, do you mean the redis events  (in this case) ? I would love if you could give me an example by what you mean measuring oplog notifications, size, count?

[2017-11-09 17:35] simonbelanger commented on #201
That would be the number of redis event processed

[2017-11-09 17:36] theodorDiaconu commented on #201
Ok I need to dig into how they measure this, what about timing ? Like event processing cost ?

[2017-11-09 18:03] simonbelanger commented on #201
The key is to process as less events as possible by namespacing collection's mutations/observers, so we need to know how much events are processed on a publication basis to identify where optimization will have the most significant effect.

[2017-11-09 18:15] theodorDiaconu commented on #201
Got it.

[2017-11-09 18:19] theodorDiaconu commented on #204
Good catch and good argument.

[2017-11-09 19:23] simonbelanger opened #205 "Overwriting OplogHandle"
@theodorDiaconu Have you ever considered overwriting OplogHandle class from Meteor's `mongo` package?

https://github.com/meteor/meteor/blob/d93c021c896029d774ccecc7241ff20ec4045568/packages/mongo/oplog_tailing.js

I had a quick look and it seems like all the logic specific to mongo oplog tailing is already abstracted to this class.

It might be an interesting alternative to make the package small

[2017-11-09 19:34] theodorDiaconu commented on #205
Initially that's how I wanted to do things, hook into the ObserveMultiplexer and into Meteor Core (https://github.com/meteor/meteor/blob/d93c021c896029d774ccecc7241ff20ec4045568/packages/mongo/observe_multiplex.js)

But I headed into issues like some parts weren't exported so I can modify the prototype and I had to override some big chunks, and repeat the code from Meteor.

Ultimately I ended up o

[2017-11-09 19:44] theodorDiaconu commented on #201
https://github.com/meteor/meteor-apm-agent/blob/master/lib/hijack/instrument.js
What if you try to add redis-oplog before it. We recommend adding redis-oplog as the top package.

For self:
https://github.com/meteor/meteor-apm-agent/blob/master/lib/hijack/wrap_observers.js#L161
It may be good to override _observeChanges like this so it will work with Kadira

[2017-11-09 19:58] simonbelanger commented on #205
Ok, I get what you mean.

I think this is exactly the kind of thing that we should address to Meteor development team. They want to make the Meteor core development to be more community-driven and making parts of the core more easily interchangeable is exactly the kind of improvement they're most likely to accept to work on.

As for the benefits, the main one would be to not re-implement mechanism

[2017-11-10 11:04] theodorDiaconu commented on #201
Added issue here: https://github.com/meteor/meteor/issues/9342

[2017-11-10 11:23] theodorDiaconu commented on #201
@simonbelanger in the meantime before we get to the level where we can integrate the APM, you should think about optimizing in the following way:

You most likely have a organizational structure where Classroom is like a "chief" collection, and you relate users, games, other objects to it. This means that classroom can be come a namespace.

[code]

To make this nice, you can think about a wrapper

[2017-11-10 11:42] #204 closed

[2017-11-10 12:09] theodorDiaconu commented on #201
Related to this issue, wouldn't it be possible for the APM to accept some custom data without "emulating" oplog functionality. Like a way to hook any kind of package inside it and push custom data that can be aggregated.

[2017-11-10 13:59] simonbelanger commented on #201
About your classroom namespace proposition, this is basically what I've done. So far I did it for a single collection, the one with the highest operation threshold and existing observers. There's 2 or 3 other collections on which I expect to do that.

After that, I'll also try to set `overridePublishFunction` to `false` and use `publishWithRedis` specifically on concerned publications to sees if t

[2017-11-10 14:01] theodorDiaconu commented on #201
@simonbelanger I suggest you don't do it. Because you need to add disable-oplog. If oplog is enabled, your instances will be again, bombarded. When you saw the performance improvements, was it already namespaced ?

[2017-11-10 14:11] simonbelanger commented on #201
So what your saying is that I absolutely need to add `disable-oplog` to take advantage of the package, and if I had it I obviously need to use redis for every publication because mongodb oplog no longer work? Then what's the use case for `overridePublishFunction` option and `publishWithRedis` function?

yes

[2017-11-10 14:19] theodorDiaconu commented on #201
If you didn't have "disable-oplog" but you had an OPLOG_URL you have been hit by oplog notifications, even if they weren't processed it is a cost of getting data, parsing it, etc. So did you still have MONGO_OPLOG_URL env variable set ? If yes, you should see serious improvements.

The reason for giving the option  to not override it was that I wanted to leave the door opened to keep Oplog and Red

[2017-11-10 14:25] theodorDiaconu commented on #201
[code]

And inside `OplogHandle` constructor:
[code]

[2017-11-10 14:26] simonbelanger commented on #201
I don't see why still having MONGO_OPLOG_URL env variable set would help me see serious improvements? I'd guest that it would no longer be used anyway since I added the `disable_oplog` package... Are you saying that I'm still tailing mongodb oplog event with `disable_oplog`?

Sorry, I just want to make sure I don't I understand correctly.

[2017-11-10 14:26] theodorDiaconu commented on #201
Oh sorry, if you had `disable-oplog` then you are fine, you were no longer tailing the oplog.

[2017-11-10 14:27] simonbelanger commented on #201
kk :)

[2017-11-10 14:28] theodorDiaconu commented on #201
I'm a bit disappointed with the only 50% - 100% improvement to be honest. But I'm guessing we're also limited by the amount of connections an instance can handle.

[2017-11-10 14:29] theodorDiaconu commented on #201
What is the number of connections/instance before and after?

[2017-11-10 14:53] simonbelanger commented on #201
Please don't be disappointed. I'm not, it's still a significant improvement.

It's very variable based on the time of day

[2017-11-10 15:01] simonbelanger commented on #201
Very interesting discussion but off-topic from the original issue ;). We should move to another channel.

[2017-11-10 15:01] theodorDiaconu commented on #201
@simonbelanger yes but an instance can handle properly a certain amount of concurrent users, even if you do just method calls. Would be interesting to know those numbers (Sessions/Host). I know there's a limit. I know that just seeing connections/instance isn't a good metric for redis-oplog, because it depends a lot on your other methods and other stuff you do, how many LFS queries you have (with

[2017-11-10 15:02] theodorDiaconu commented on #201
@simonbelanger agree, I will delete this convo, I am interested in helping you get to a more satisfying number, can you add me on skype (theodor.dt) ? Or hangouts theodor.diaconu@cultofcoders.com ?

[2017-11-10 15:05] simonbelanger commented on #201
do you have something on Slack for this package development?

[2017-11-10 15:11] theodorDiaconu commented on #201
https://join.slack.com/t/redis-oplog/shared_invite/enQtMjcxMjM4MjQ0NjQ2LWRlMmFiOTc5OTM4ZmZmNWQyYmJjODE4ZDBhODMyN2RiZDc5ZGRmMzExNTNiMjQzZTEzYzE1M2Y2ZjYxNWExNjE

[2017-11-10 15:23] theodorDiaconu commented on #205
Seems that this problem has already been addressed here:
https://github.com/meteorhacks/meteorx

[2017-11-10 16:12] simonbelanger commented on #205
Cool, a little old but it might be interesting

[2017-11-10 16:40] simonbelanger opened #206 "livedata server exception"
I see a lot of these exceptions in the server log, any chance it might be related to `redis-oplog` :

![2017-11-10 at 11 37](https://user-images.githubusercontent.com/17987029/32668523-e126e28c-c60b-11e7-92ac-57d7b28f05df.png)

[2017-11-10 17:35] theodorDiaconu commented on #206
@simonbelanger it seems that yes:

This runs inside Session.close()
[code]

[code]

Inside: _.extend(Subscription.prototype, {})
[code]

But I don't get it, in Redis we don't create a custom subscription, we either return nonEligibleCursors, or nothing, so the subscription is properly handled by Redis.

Have you played with` publishWithRedis:false` by any chance ? Last time there weren't these iss

[2017-11-10 17:54] simonbelanger commented on #206
no

[2017-11-10 18:46] theodorDiaconu commented on #206
Try pulling from master. See if it still happens. It may be related to disable mergebox package used for vent. But i removed bc i found a better way.

[2017-11-13 16:07] copleykj opened #207 "[Feature Request $200 Bounty] Make client side mutations propagate to custom channels or namespaces"
Currently client side mutations do not get propagated to custom channels or namespaces. I'd love to see this functionality in redis-oplog, so if anyone can accomplish this then the bounty is theirs.

As far as Bounty goes, it's contingent on a complete working and secure solution. Payment can be through paypal, or just about any crypto asset of your choosing (besides Bitcoin due to the current net

[2017-11-13 16:13] theodorDiaconu commented on #207
@copleykj I'm going to take on your offer and begin this.

API:

[code]

Only allow `namespace`, `namespaces`, `pushToRedis` and not channels for security.

[2017-11-14 05:30] theodorDiaconu commented on #206
Did you solve this @simonbelanger  ?

[2017-11-14 14:06] simonbelanger commented on #206
I didn't have the time to try the fix mentionned... we're gonna put this on ice for the next days, until we have time to investigate what happened on the servers.

[2017-11-14 16:57] theodorDiaconu commented on #207
There is code in aldeed:collection2-core, that doesn't allow me to pass-in options:
https://github.com/aldeed/meteor-collection2-core/blob/master/package/collection2/collection2.js#L205

I managed to pass options and make them hit the server. But now I don't know what to do regarding compatibility with this package with `insert` mutation

If redis-oplog is loaded AFTER aldeed:collection2-core, the

[2017-11-14 17:04] theodorDiaconu commented on #207
I added a weak dependency:
[code]

And now information gets passed, but I override collection2's core for client-side validation and I also override some possible hooks from collection hooks package.

I had to override the whole insert() prototype to allow me to send options.